.logo{
  padding: 10px 10px 10px 18px;
  display: inline-block;
  text-align: left;
  width: 30%;
}
#topnav{
  float: right;
  text-align: right;
  display: block;
  width: 60%;
  padding: 16px 10px 8px 10px;
}
#topnav li{
  display: inline-block;
}
.site-language{
  margin: 0 10px 0 0;
  vertical-align: bottom;
}
.site-language a{
  color: #4D5059;
  width: 100%;
}
.site-language li{
  width: 100%;
}
.site-language a:hover{
  color: #4F6EA2;
}
.site-language i{
  font-size: 25px; 
}
.site-member{
}
.site-member a{margin: 0 5px; display: inline-block; position: relative;}
.site-member a img{max-width: 100%}
.site-member a.mail{width: 25px; vertical-align: bottom;}
.site-member a.member{width: 33px; vertical-align: baseline;}
.x-navigation .xn-icon-button .informer {
    left: auto;
    bottom: auto;
    right: 1px;
    top: 5px;
}
.informer.informer-warning {
    background: #4F6EA2;
}
.informer {
    font-size: 11px;
    position: absolute;
    line-height: 20px;
    text-align: center;
    padding: 0px 7px;
    right: -6px;
    top: -9px;
    color: #FFF;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
.informer a{
    color: #FFF;
}
.site-about{
  margin: 0 10px;
  vertical-align: bottom;
}
.site-about a{
  color: #4D5059;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  padding: 0 10px;
}
.site-about a:hover ,.site-about a:focus{
  color: #4F6EA2;
}
@media screen and (max-width: 991px){
.logo{
    position: absolute;
    left: 50%;
    margin: 0px 0 0 -82px;
}
#topnav{
  float: right;
  text-align: right;
  display: block;
  width: 200px;
  padding: 16px 10px 8px 10px;

}
}
@media screen and (max-width: 480px){
.site-language{
  margin: 0 5px 0 0;
}
.site-member a.member{width: 29px;}
}
/*Footer*/
.footer-wrap{
  width: 100%;
  background-color: #71737b;
}
.footer-menu{
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 0px;
}
.footer-menu-list{
  width: 150px;
  display: inline-block;
  position: relative;
  text-align: left;
  margin-right: 170px;
}
.footer-menu .title{
  color: #FFF;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
}
.footer-menu .footernav{
  text-align: left;
  margin-top: 15px;
}
.footer-menu .footernav li{
  list-style-type: none;
  color: #FFF;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
}
.footer-menu .footernav li a{
  color: #FFF;
}
.footer-menu .footernav li a:hover{
  color: #aaaaab;
}
.copyright-wrap{
  width: 100%;
  background-color: #4e5059;
  padding: 10px 0px;
}
.addresswrap{
  max-width:970px;
  margin: 0 auto;
  height: 30px;
}
.allright-list{
  float: left;
  position: relative;
  display: inline-block;
}
.address-text{
  color: #FFF;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 12px;
}
.allright-text{
    color: #FFF;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 10px;
  text-align: left;
}
.soicallist{
  float: right;
  position: relative;
  display: inline-block;
  margin-right: 20px;
}
.soical-icon{
  display: inline-block;
  position: relative;
}
.soical-icon .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.soical-icon:hover .img-top{
    display: inline-block;
}
@media screen and (max-width: 991px){
  .footer-menu{
  display: none;
  }
  .addresswrap{
  max-width:300px;
  margin: 0 auto;
  padding-left: 0px; 
  height: 90px;
  }
  .allright-list{
  float: none;
    margin-top: 10px;
  }
  .soicallist{
  float: none;
  margin-top: 10px;
  }
}
@media screen and (max-width: 768px){
  .footer-menu{
  display: none;
  }
  .addresswrap{
  max-width:300px;
  margin: 0 auto;
  padding-left: 0px; 
  height: 90px;
  }
  .allright-list{
  float: none;
    margin-top: 10px;
  }
  .soicallist{
  float: none;
  margin-top: 10px;
  }
}