.form-control{
	font-size: 14px;
}
/*side mini calender*/
.wrap{
  overflow:hidden;
  width:255px;
  height:255px;
}
.cal-header{
  position:  relative;
  width:100%;
  height: 39px;
  float:left;
}
.month-right {
    position:  absolute;
    right:  0;
    top: 0;
}

.month-left {
    position:  absolute;
    top: 0;
    left:  0;
}
.btn {
  height: 100%;
  cursor: default;
  box-sizing: border-box;
  line-height: 22px;
  text-align: center;
  float: left;
  width: 39px;
  color: rgb(175, 178, 180);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  border-image: initial;
  border-radius: 5px;
}
.ym{
  font-size: 16px;
  position:  absolute;
  display: inline;
  line-height: 39px;
  text-align:center;
  height:100%;
  right: 50%;
  margin-right: -35px;
}
.week {
  color: #858585;
  overflow:hidden;
  width:100%;
  float:left;
  height:36px;
  background: white;
}
.week div {
  cursor:default;
  text-align:center;
  line-height:36px;
  float:left;
  width:36px;
  height:36px;
}
.date a{
  color: #333;
  float:left;
  box-sizing:border-box;
  border: 1px #e6e8e8 solid;
  line-height:36px;
  text-align:center;
  width:36px;
  height:36px;
}
.past {
  color:  #dce0e0;
  float:left;
  box-sizing:border-box;
  border: 1px #e6e8e8 solid;
  line-height:36px;
  text-align:center;
  width:36px;
  height:36px;
  background-color: #eceeee;
}
.today a{
  color:  #fff;
  background-color: #00a699;
}
/**/
.basesize {
    font-size: 15px;
    color: #000000;
	display: inline-block;
	vertical-align: middle;
    line-height: 30px;
}
.basesize.btns{
    font-size: 38px;
	font-weight: bold;
    margin: 0px 5px;
}
.basesize.chose_data_title {
	font-size: 22px;
    color: #4e5059;
    font-weight: bold;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-width: 0 !important;
}
.fc td, .fc th {
    border-width: 0px !important;
}
td.fc-day {
    border: 1px solid #ddd !important;
}
.fc-basic-view .fc-body .fc-row  {
	border-left: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
}
.fc-basic-view .fc-body .fc-row:first-child  {
	border-top: 1px solid #ddd !important;
}
.fc-basic-view .fc-body .fc-row:last-child  {
	border-bottom: 1px solid #ddd !important;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	float: left !important;
	font-size: 1.1em;
    font-weight: bold;
}
.fc-day-grid-event .fc-content {
	text-align: center;
}
/*
	==========================
	datatimepicker styles
	==========================
*/
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
    border-radius: 0;
    background-color: #00a699;
}
.bootstrap-datetimepicker-widget td.today:before {
	content: unset;
}
.bootstrap-datetimepicker-widget td {
    border: 1px #e6e8e8 solid;
}
.bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
    border: 1px #e6e8e8 solid;
	border-radius: 5px;
	font-size: 1em;
}
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
    border-radius: 0;
}
.bootstrap-datetimepicker-widget td.old {}
.bootstrap-datetimepicker-widget td.new {
	display: none;
}

/*
	==========================
	right side form (全場地日曆, 多場地週曆, 單場地月曆)
	==========================
*/
.editinfo-content-wrap.rwd-fixed {
	border-right: 1px solid;
    margin-top: 0;
}
.closebtn button {
	font-size: 22px;
	background: #fff;
	border: 0;
}
.reserve-calendar-right-wrap {
    width: 25%;
    margin: 0 auto 0 auto;
    display: inline-block;
    vertical-align: top;
}

.selectdayrange .selectdiv {
    display: inline-block;
	float: none;
	width: 45%;
}

.selectdayrange p {
    display: inline-block;
}

.selectdayrange input[type="radio"]:checked, .selectdayrange .radio input[type="radio"]:checked, .selectdayrange .radio-inline input[type="radio"]:checked {
    border-color: #4e6da1;
}

.selectdayrange input[type="radio"]:checked::after, .selectdayrange .radio input[type="radio"]:checked::after, .selectdayrange .radio-inline input[type="radio"]:checked::after {
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    background: #4e6da1;
}

.formsave .savesend {
	font-size: 18px !important;
	display: inline-block;
	margin: 0 !important;
	width: 49% !important;
}

.formsave .savesend.cancel {
	background-color: #4e5059 !important;
}

.reserv-status {
	display: inline-block;
	margin-right: 10px;
}

.reserv-status:before {
	content: '';
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	display: inline-block;
	border-radius: 100%;
	margin-right: 5px;
	vertical-align:  middle;
}

.reserv-status.status1:before {
	border: 0;
    background: #00a699;
}

.reserv-status.status2:before {
	border: 0;
    background: #e0e0e0;
}

/*
	==========================
	radio buttons
	==========================
*/
.lay1_change, .lay2_change {
    font-size:  15px;
	display: none;
}
.ex-radio {
    position: relative;
    margin: 13px 0;
    font-size: 16px;
}
.ex-radio label {
	padding-left: 32px;
	line-height: 140%;
	font-weight: normal;
	display: inline-block;
	position: relative;
}
.ex-radio label:hover {
	text-decoration: underline;
}
.ex-radio label:hover:before {
	border: 1px solid #4e6da1!important;
}
.ex-radio label.title {
	color: #4e6da1;
    font-size: 1.4em;
}
.ex-radio input[type=radio] {
	margin: 0;
	opacity: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
	z-index: 10;
	position: absolute;
}
.ex-radio input[type=radio] + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	border: 1px solid #dcdcdc;
	border-radius: 50%;
	background-color: #fff;
	transition: border 0.3s ease-in-out;
}
.ex-radio input[type=radio] + label.title::before, .ex-radio input[type=radio] + label.title::after {
	margin-top: 7px;
}
.ex-radio input[type=radio]:hover + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio]:focus + label::before {
	box-shadow: 0 0 1px #4e6da1;
	outline: none;
}
.ex-radio input[type=radio]:checked + label::before, .ex-radio input[type=radio]:checked:hover + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio] + label::after {
	position: absolute;
	content: " ";
	width: 12px;
	height: 12px;
	left: 4px;
	top: 4px;
	border-radius: 50%;
	background-color: #ffffff;
	transform: scale(0, 0);
	transition: transform 0.3s ease-in-out;
}
.ex-radio input[type=radio]:checked + label::after {
	background-color: #4e6da1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}
.ex-radio input[type="radio"]:disabled {
	cursor: not-allowed;
}
.ex-radio input[type="radio"]:disabled + label {
	color: #4e6da1;
	cursor: not-allowed;
}
.ex-radio input[type=radio]:disabled + label::before, .ex-radio input[type=radio]:checked:disabled + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio]:checked:disabled + label::after {
	background-color: #4e6da1;
}


/*openinghours */
.mar-top5 {
	margin-top: 5px;
}
.mar-top10 {
	margin-top: 10px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top25 {
	margin-top: 25px;
}
.mar-top30 {
	margin-top: 30px !important;
}
.mar-top50 {
	margin-top: 50px;
}
.mar-bot20 {
	margin-bottom: 20px;
}
.mar-right10 {
	margin-right: 10px;
}
.mar-left35 {
	margin-left: 35px;
}
.mart15b12 {
	margin: 15px 0 2px 0 !important;
}
.ovhindn {
	overflow: hidden;
}
.flot-right {
	float: right;
}
.flot-left {
	float: left;
}
.grey {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #f3f3f3;
	margin-top: -20px;
}
.green {
	background: #00a699;
}
.font24 {
	color: #4D5059;
	font-size: 24px;
}
.font16 {
	color: #4D5059;
	font-size: 16px;
}
.line_title {
}
.img-video {
	opacity: 0.9;
	filter: alpha(opacity=90);
	display: block;
	padding: 20px;
}
.img-video:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.aling-top {
	vertical-align: top;
}
.display_line {
	display: inline-block;
}
.display_line_left {
	margin-right: 10px;
	float: left;
}
.display_line_left label {
	font-size: 16px;
	margin: 8px 0;
	font-weight: normal;
}
.display_line_right {
	float: left;
}
.scalender_form {
	font-size: 14px;
	width: 140px;
}
.opening_top_left {
	margin: 25px 50px 25px 10px;
	display: inline-block;
}
.opening_top_right {
	float: right;
	display: inline-block;
}
.openinghours .nav-tabs>li.active>a:hover, .openinghours .nav-tabs>li.active>a:focus {
	background: none !important;
	color: #666;
	padding: 10px 15px;
}
.openinghours .nav-tabs > li.active > a {
	background: none;
	color: #4e5059;
	font-weight: bold;
}
.openinghours .nav-tabs>li>a {
	text-align: center;
	font-size: 16px;
	border: 0 !important;
	border-radius: 0;
}
.openinghours .nav>li>a:focus, .nav>li>a:hover {
	color: #666;
}
.openinghours .nav-tabs {
	margin: 20px 0 0 50px;
	border-bottom: 0;
}
/*booking desktop*/
.selectdiv {
	position: relative;
	float: right;
	width: 100%;
	margin: 0px 0px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #555 !important;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #555 !important;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #555 !important;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #555 !important;

}
.selectdiv:after {
	content: '\f078';
	font: normal normal normal 13px/0.2 FontAwesome;
	color: #4e5059;
	right: 15px;
	top: 0px;
	height: 34px;
	padding: 16px 0px 0px 8px;
	border-left: 0px solid #0ebeff;
	position: absolute;
	pointer-events: none;
}
select::-ms-expand {
display: none;
}
.selectdiv select {
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 35px;
	margin: 1px 0px;
	padding: 0px 43px 0px 13px;
	font-size: 14px;
	line-height: 1.75;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d9d9d9;
	-ms-word-break: normal;
	word-break: normal;
	color: #555462;
}
.openinghours .introduction {
	margin-top: 50px;
	border: #dfdfdf solid 5px;
	border-radius: 5px;
	padding: 30px;
}
.openinghours .list {
	border: 1px solid #ccc;
}
p.title {
	float: left;
	margin: 10px 0 10px 5px;
	font-size: 16px;
	font-weight: bold;
}
p.relate {
	line-height: 22px;
	font-size: 15px;
	margin-top: 15px;
}
.rwd-table {
	min-width: 300px;
}
.rwd-table td.img-center {
	background: #9a9a9a;
	text-align: center;
}
.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
}
.rwd-table td:last-child {padding-bottom: 5px;}
.rwd-table td:before {
	content: attr(data-th);
	font-weight: bold;
	width: 6.5em;
	display: block;
	font-size: 1.4em;
}
.rwd-table th, .rwd-table td {
	text-align: left;
}
.rwd-table {
	width: 100%;
	color: #555555;
	overflow: hidden;
}
.rwd-table tr th {
	padding: 8px;
	background: #f3f3f3;
	font-size: 16px;
	text-align: center;
}
.rwd-table th, .rwd-table td {
	margin: 0;
}
.rwd-table th, .rwd-table td:before {
	color: #555;
}
.openinghours input[type="radio"]:checked::after, .openinghours .radio input[type="radio"]:checked::after, .openinghours .radio-inline input[type="radio"]:checked::after {
	top: 1px;
	left: 1px;
	width: 11px;
	height: 11px;
	background: #4e6da1;
}
.tabletitle {
	margin-top: 18px;
	margin-bottom: 21px;
	font-size: 16px;
	color: #4d6da1;
	font-weight: bold;
}
.openinghours .form-check {
	margin: 15px 0;
	font-size: 16px;
}
.openinghours .form-check-label {
	font-weight: normal;
	left: 20px;
}
.openinghours .selectwrap {
	display: inline-block;
}
.openinghours .selectwrap2 {
	float: left;
	margin: 10px 0;
}
.btn-fix {
	margin-bottom: 10px;
	vertical-align: bottom;
	text-align: right;
	padding-left: 3em;
	padding-right: 10px;
	padding-bottom: 10px;
}
.btn-blue {
	cursor: pointer;
	border: 0;
	width: auto;
	background-color: #4f6ea2;
	color: #fff;
}
.btn-blue:hover{
	color: #fff;
	background-color: #2d5392;
}

/*all place calender */
.calendarallplacebottom {
	margin: 10px 10px 15px;
	float: left;
}
.calendarallplacebottom a {
	font-size:  16px;
	color: #fff;
	display: block;
	border-radius: 5px;
	padding: 8px 15px;
}
.allplace_left {
	border-right: 1px solid #b8b9bd;
	float: left;
	width: 75%;
}
.allplace_right {
	display: inline-block;
	width: 25%;
}
.allplace_left .title {
	color: #4f6ea2;
	font-size: 18px;
}
.openinghours .form-check_allplace input[type="radio"]:checked::after, .openinghours .form-check_allplace .radio input[type="radio"]:checked::after, .openinghours .form-check_allplace .radio-inline input[type="radio"]:checked::after {
	top: 1px;
	left: 1px;
	width: 11px;
	height: 11px;
	background: #01a598;
}
.openinghours .form-check_allplace {
	display: inline-block;
	margin: 15px 10px;
	font-size: 15px;
}
.Timetable {
	overflow-x: auto;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.Timetable a{
	color: #000;
}
.Timetable tr {
	background: #ffffff;
}
.Timetable tr:nth-child(even) {
	background: #ffffff;
}
.Timetable .Timetable__table {
	min-width: 650px;
}
.Timetable .Timetable__table td, .Timetable .Timetable__table th {
	padding: 0;
}
.Timetable .Timetable__table th {
	font-weight: 300;
}
.Timetable .Timetable__table tbody th {
	border-right: 1px solid #cccccc;
	background: #f3f3f3;
	color: #4e5059;
}
.Timetable .Timetable__table tbody td {
	border: 1px solid #ccc;
}
.Timetable .Timetable__table .Timetable__time, .Timetable .Timetable__table .Timetable__room {
	background: #4f6ea2;
	color: #ffffff;
	width: 100%;
}
.Timetable .Timetable__table .Timetable__room {
	text-align: center;
}
.Timetable .Timetable__table .Timetable__time th {
	width: 300px;
}
.Timetable thead tr {
	background: none;
}
.Timetable thead tr td, .Timetable thead tr th {
	color: #fff;
	font-size: 1.5em;
}
.Allocation {
	color:  #4e5059;
	display: block;
	background: #e0e0e0;
	padding: 5px;
	text-align: center;
}
.Allocation.please {
	background: #e77f3f;
}
.Allocation.pdp {
	background: #01a598;
	color: #fff;
}
.Allocation span {
	display: block;
	padding: 3px 0;
}
.Allocation span.Allocation__title {
	font-size: 1.3em;
	font-weight: 600;
}

@media screen and (max-width: 991px) {
/*booking ipad*/
.openinghours .nav-tabs {
	margin: 0;
}
.opening_top_left {
	margin: 0px 50px 25px 10px;
    display: inline-block;
}
.opening_top_right {
	width: 100%;
}
.btn-fix {
	padding: 0;
}
.openinghours .signup-sendbtn input[type=submit].savesend.fix1 {
	width: 100%;
}
.Timetable {
	overflow-x: auto;
	position: relative;
	/*width: 768px;*/
	max-width: 100%;
}
/**/

/*rwd - (全場地日曆, 多場地週曆, 單場地月曆)*/
.editinfo-content-wrap.rwd-fixed {
	position: absolute;
	left: 0;
}
.reserve-calendar-right-wrap{
	width: 300px;
	background: #fff;
    right: 0;
    position: absolute;
	z-index: 999;
	
}
.signup-sendbtn.formsave .savesend {
	width: 100% !important;
	margin-bottom: 10px !important;
}
}

@media (max-width: 768px) {
/*booking mobile*/
.rwd-table th, .rwd-table td {
	background: #f3f3f3;
	margin: 10px 0;
}
.rwd-table td:last-child {
	overflow:  hidden;
}
.Timetable {
	overflow-x: scroll;
	position: relative;
	/*width: 550px;*/
	width: 100%;
}
}

@media (min-width: 768px) {
.rwd-table td:before {
	display: none;
}
.rwd-table th, .rwd-table td {
	padding: 0em;
}
.rwd-table th, .rwd-table td {
	padding: 0 40px;
	text-align: -webkit-auto;
	display: table-cell;
}
.rwd-table th:first-child, .rwd-table td:first-child {
	padding: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
}
}
@media (max-width: 480px) {/*side mini calender*/
.wrap{
  overflow:hidden;
  width:255px;
  height:255px;
}
.cal-header{
  position:  relative;
  width:100%;
  height: 39px;
  float:left;
}
.month-right {
    position:  absolute;
    right:  0;
    top: 0;
}

.month-left {
    position:  absolute;
    top: 0;
    left:  0;
}
.btn {
  cursor:default;
  box-sizing:border-box;
  line-height: 22px;
  text-align:center;
  float: left;
  width:39px;
  height:100%;
  /* right:  0; */
  color:  #afb2b4;
  border-radius:  5px;
}
.ym{
  position:  absolute;
  display: inline;
  line-height: 39px;
  text-align:center;
  height:100%;
  right: 50%;
  margin-right: -35px;
}
.week {
  color: #858585;
  overflow:hidden;
  width:100%;
  float:left;
  height:36px;
  background: white;
}
.week div {
  cursor:default;
  text-align:center;
  line-height:36px;
  float:left;
  width:36px;
  height:36px;
}
.date a{
  color: #333;
  float:left;
  box-sizing:border-box;
  border: 1px #e6e8e8 solid;
  line-height:36px;
  text-align:center;
  width:36px;
  height:36px;
}
.past {
  color:  #dce0e0;
  float:left;
  box-sizing:border-box;
  border: 1px #e6e8e8 solid;
  line-height:36px;
  text-align:center;
  width:36px;
  height:36px;
  background-color: #eceeee;
}
.today a{
  color:  #fff;
  background-color: #00a699;
}
/**/
.basesize {
    font-size: 16px;
    color: #4e4f65;
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.basesize.btns{
    font-size: 35px;
    font-weight: bold;
    margin: 0px 5px;
}
.basesize.chose_data_title {
	font-size: 24px;
	color: #4e5059;
	font-weight: bold;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-width: 0 !important;
}
.fc td, .fc th {
    border-width: 0px !important;
}
td.fc-day {
    border: 1px solid #ddd !important;
}
.fc-basic-view .fc-body .fc-row  {
	border-left: 1px solid #ddd !important;
	border-right: 1px solid #ddd !important;
}
.fc-basic-view .fc-body .fc-row:first-child  {
	border-top: 1px solid #ddd !important;
}
.fc-basic-view .fc-body .fc-row:last-child  {
	border-bottom: 1px solid #ddd !important;
}
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	float: left !important;
	font-size: 1.1em;
    font-weight: bold;
}
.fc-day-grid-event .fc-content {
	text-align: center;
}
/*
	==========================
	datatimepicker styles
	==========================
*/
.bootstrap-datetimepicker-widget td.active, .bootstrap-datetimepicker-widget td.active:hover {
    border-radius: 0;
    background-color: #00a699;
}
.bootstrap-datetimepicker-widget td.today:before {
	content: unset;
}
.bootstrap-datetimepicker-widget td {
    border: 1px #e6e8e8 solid;
}
.bootstrap-datetimepicker-widget th.next, .bootstrap-datetimepicker-widget th.prev {
    border: 1px #e6e8e8 solid;
	border-radius: 5px;
	font-size: 1em;
}
.bootstrap-datetimepicker-widget td, .bootstrap-datetimepicker-widget th {
    border-radius: 0;
}
.bootstrap-datetimepicker-widget td.old {}
.bootstrap-datetimepicker-widget td.new {
	display: none;
}

/*
	==========================
	right side form (全場地日曆, 多場地週曆, 單場地月曆)
	==========================
*/
.editinfo-content-wrap.rwd-fixed {
	border-right: 1px solid;
    margin-top: 0;
}
.closebtn button {
	background: #fff;
	border: 0;
}
.reserve-calendar-right-wrap {
    width: 25%;
    margin: 0 auto 0 auto;
    display: inline-block;
    vertical-align: top;
}

.selectdayrange .selectdiv {
    display: inline-block;
	float: none;
	width: 45%;
}

.selectdayrange p {
    display: inline-block;
}

.selectdayrange input[type="radio"]:checked, .selectdayrange .radio input[type="radio"]:checked, .selectdayrange .radio-inline input[type="radio"]:checked {
    border-color: #4e6da1;
}

.selectdayrange input[type="radio"]:checked::after, .selectdayrange .radio input[type="radio"]:checked::after, .selectdayrange .radio-inline input[type="radio"]:checked::after {
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    background: #4e6da1;
}

.formsave .savesend {
	font-size: 18px !important;
	display: inline-block;
	margin: 0 !important;
	width: 49% !important;
}

.formsave .savesend.cancel {
	background-color: #4e5059 !important;
}

.reserv-status {
	display: inline-block;
	margin-right: 10px;
}

.reserv-status:before {
	content: '';
	width: 15px;
	height: 15px;
	border: 1px solid #000;
	display: inline-block;
	border-radius: 100%;
	margin-right: 5px;
	vertical-align:  middle;
}

.reserv-status.status1:before {
	border: 0;
    background: #00a699;
}

.reserv-status.status2:before {
	border: 0;
    background: #e0e0e0;
}

/*
	==========================
	radio buttons
	==========================
*/
.lay1_change, .lay2_change {
    font-size:  15px;
	display: none;
}
.ex-radio {
	position: relative;
	margin: 12px 0;
	font-size: 16px;
}
.ex-radio label {
	padding-left: 32px;
	line-height: 140%;
	font-weight: normal;
	display: inline-block;
	position: relative;
}
.ex-radio label:hover {
	text-decoration: underline;
}
.ex-radio label:hover:before {
	border: 1px solid #4e6da1!important;
}
.ex-radio label.title {
	color: #4e6da1;
    font-size: 1.4em;
}
.ex-radio input[type=radio] {
	margin: 0;
	opacity: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
	z-index: 10;
	position: absolute;
}
.ex-radio input[type=radio] + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	border: 1px solid #dcdcdc;
	border-radius: 50%;
	background-color: #fff;
	transition: border 0.3s ease-in-out;
}
.ex-radio input[type=radio] + label.title::before, .ex-radio input[type=radio] + label.title::after {
	margin-top: 7px;
}
.ex-radio input[type=radio]:hover + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio]:focus + label::before {
	box-shadow: 0 0 1px #4e6da1;
	outline: none;
}
.ex-radio input[type=radio]:checked + label::before, .ex-radio input[type=radio]:checked:hover + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio] + label::after {
	position: absolute;
	content: " ";
	width: 12px;
	height: 12px;
	left: 4px;
	top: 4px;
	border-radius: 50%;
	background-color: #ffffff;
	transform: scale(0, 0);
	transition: transform 0.3s ease-in-out;
}
.ex-radio input[type=radio]:checked + label::after {
	background-color: #4e6da1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}
.ex-radio input[type="radio"]:disabled {
	cursor: not-allowed;
}
.ex-radio input[type="radio"]:disabled + label {
	color: #4e6da1;
	cursor: not-allowed;
}
.ex-radio input[type=radio]:disabled + label::before, .ex-radio input[type=radio]:checked:disabled + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio]:checked:disabled + label::after {
	background-color: #4e6da1;
}


/*openinghours */
.mar-top5 {
	margin-top: 5px;
}
.mar-top10 {
	margin-top: 10px;
}
.mar-top20 {
	margin-top: 20px !important;
}
.mar-top25 {
	margin-top: 25px;
}
.mar-top30 {
	margin-top: 30px !important;
}
.mar-top50 {
	margin-top: 50px;
}
.mar-bot20 {
	margin-bottom: 20px;
}
.mar-right10 {
	margin-right: 10px;
}
.mar-left35 {
	margin-left: 35px;
}
.mart15b12 {
	margin: 15px 0 2px 0 !important;
}
.ovhindn {
	overflow: hidden;
}
.flot-right {
	float: right;
}
.flot-left {
	float: left;
}
.grey {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #f3f3f3;
	margin-top: -20px;
}
.green {
	background: #00a699;
}
.font24 {
	color: #4D5059;
	font-size: 24px;
}
.font16 {
	color: #4D5059;
	font-size: 16px;
}
.line_title {
}
.img-video {
	opacity: 0.9;
	filter: alpha(opacity=90);
	display: block;
	padding: 20px;
}
.img-video:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
.aling-top {
	vertical-align: top;
}
.display_line {
	display: inline-block;
}
.display_line_left {
	margin-right: 10px;
	float: left;
}
.display_line_left label {
	font-size: 16px;
	margin: 8px 0;
	font-weight: normal;
}
.display_line_right {
	float: left;
}
.scalender_form {
	font-size: 14px;
	width: 140px;
}
.opening_top_left {
	margin: 25px 50px 25px 10px;
	display: inline-block;
}
.opening_top_right {
	float: right;
	display: inline-block;
}
.openinghours .nav-tabs>li.active>a:hover, .openinghours .nav-tabs>li.active>a:focus {
	background: none !important;
	color: #666;
	padding: 10px 15px;
}
.openinghours .nav-tabs > li.active > a {
	background: none;
	color: #4e5059;
	font-weight: bold;
}
.openinghours .nav-tabs>li>a {
	text-align: center;
	font-size: 16px;
	border: 0 !important;
	border-radius: 0;
}
.openinghours .nav>li>a:focus, .nav>li>a:hover {
	color: #666;
}
.openinghours .nav-tabs {
	margin: 20px 0 0 50px;
	border-bottom: 0;
}
/*booking desktop*/
::-webkit-input-placeholder { /* Chrome */
  color: red;
}
:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
::-moz-placeholder { /* Firefox 19+ */
  color: red;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
}
.selectdiv {
	position: relative;
	float: right;
	width: 100%;
	margin: 0px 0px;
	border: 0px solid #0ebeff;
}
.selectdiv:after {
	content: '\f078';
	font: normal normal normal 13px/0.2 FontAwesome;
	color: #4e5059;
	right: 15px;
	top: 0px;
	height: 34px;
	padding: 16px 0px 0px 8px;
	border-left: 0px solid #0ebeff;
	position: absolute;
	pointer-events: none;
}
select::-ms-expand {
display: none;
}
.selectdiv select {
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 35px;
	margin: 1px 0px;
	padding: 0px 43px 0px 13px;
	font-size: 14px;
	line-height: 1.75;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d9d9d9;
	-ms-word-break: normal;
	word-break: normal;
	color: #555462;
}
.openinghours .introduction {
	margin-top: 50px;
	border: #dfdfdf solid 5px;
	border-radius: 5px;
	padding: 30px;
}
.openinghours .list {
	border: 1px solid #ccc;
}
p.title {
	float: left;
	margin: 10px 0 10px 5px;
	font-size: 16px;
	font-weight: bold;
}
p.relate {
	line-height: 22px;
	font-size: 15px;
	margin-top: 15px;
}
.rwd-table {
	margin: 1em 0 -1px;
	min-width: 300px;
}
.rwd-table td.img-center {
	background: #9a9a9a;
	text-align: center;
}
.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
}
.rwd-table td:last-child {
}
.rwd-table td:before {
	content: attr(data-th);
	font-weight: bold;
	width: 6.5em;
	display: block;
	font-size: 1.4em;
}
.rwd-table th, .rwd-table td {
	text-align: left;
}
.rwd-table {
	width: 100%;
	color: #555555;
	overflow: hidden;
}
.rwd-table tr th {
	padding: 8px;
	background: #f3f3f3;
	font-size: 16px;
	text-align: center;
}
.rwd-table th, .rwd-table td {
	margin: 0;
}
.rwd-table th, .rwd-table td:before {
	color: #555;
}
.openinghours input[type="radio"]:checked::after, .openinghours .radio input[type="radio"]:checked::after, .openinghours .radio-inline input[type="radio"]:checked::after {
	top: 1px;
	left: 1px;
	width: 11px;
	height: 11px;
	background: #4e6da1;
}
.tabletitle {
	margin-top: 18px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #4d6da1;
	font-weight: bold;
}
.openinghours .form-check {
	margin: 15px 0;
	font-size: 16px;
}
.openinghours .form-check-label {
	font-weight: normal;
	left: 20px;
}
.openinghours .selectwrap {
	display: inline-block;
}
.openinghours .selectwrap2 {
	float: left;
	margin: 10px 0;
}
.btn-fix {
	vertical-align: bottom;
	text-align: right;
	padding-left: 3em;
	padding-right: 10px;
	padding-bottom: 10px;
}
.btn-blue {
	background-color: #4f6ea2;
	color: #fff;
}
.btn-blue:hover{
	color: #fff;
	background-color: #2d5392;
}

/*銷售管理全場地月曆*/
.calendarallplacebottom {
	margin: 10px 10px 15px;
	float: left;
}
.calendarallplacebottom a {
	font-size: 16px;
	color: #fff;
	display: block;
	border-radius: 5px;
	padding: 8px 15px;
}
.allplace_left {
	border-right: 1px solid #b8b9bd;
	float: left;
	width: 75%;
}
.allplace_right {
	display: inline-block;
	width: 25%;
}
.allplace_left .title {
	color: #4f6ea2;
	font-size: 18px;
}
.openinghours .form-check_allplace input[type="radio"]:checked::after, .openinghours .form-check_allplace .radio input[type="radio"]:checked::after, .openinghours .form-check_allplace .radio-inline input[type="radio"]:checked::after {
	top: 1px;
	left: 1px;
	width: 11px;
	height: 11px;
	background: #01a598;
}
.openinghours .form-check_allplace {
	display: inline-block;
	margin: 15px 10px;
	font-size: 15px;
}
.Timetable {
	overflow-x: auto;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}
.Timetable a{
	color: #000;
}
.Timetable tr {
	background: #ffffff;
}
.Timetable tr:nth-child(even) {
	background: #ffffff;
}
.Timetable .Timetable__table {
	min-width: 650px;
}
.Timetable .Timetable__table td, .Timetable .Timetable__table th {
	padding: 0;
}
.Timetable .Timetable__table th {
	font-weight: 300;
}
.Timetable .Timetable__table tbody th {
	border-right: 1px solid #cccccc;
	background: #f3f3f3;
	color: #4e5059;
}
.Timetable .Timetable__table tbody td {
	border: 1px solid #ccc;
}
.Timetable .Timetable__table .Timetable__time, .Timetable .Timetable__table .Timetable__room {
	background: #4f6ea2;
	color: #ffffff;
	width: 100%;
}
.Timetable .Timetable__table .Timetable__room {
	text-align: center;
}
.Timetable .Timetable__table .Timetable__time th {
	width: 300px;
}
.Timetable thead tr {
	background: none;
}
.Timetable thead tr td, .Timetable thead tr th {
	color: #fff;
	font-size: 1.5em;
}
.Allocation {
	color:  #4e5059;
	display: block;
	background: #e0e0e0;
	padding: 5px;
	text-align: center;
}
.Allocation.please {
	background: #e77f3f;
}
.Allocation.pdp {
	background: #01a598;
	color: #fff;
}
.Allocation span {
	display: block;
	padding: 3px 0;
}
.Allocation span.Allocation__title {
	font-size: 1.3em;
	font-weight: 600;
}

@media screen and (max-width: 991px) {
/*booking ipad*/
.openinghours .nav-tabs {
	margin: 0;
}
.opening_top_left {
	width: 100%;
}
.opening_top_right {
	width: 100%;
}
.btn-fix {
	padding: 0;
}
.openinghours .signup-sendbtn input[type=submit].savesend.fix1 {
	width: 100%;
}
.Timetable {
	overflow-x: scroll;
	position: relative;
	width: 768px;
}
/**/

/*rwd - (全場地日曆, 多場地週曆, 單場地月曆)*/
.editinfo-content-wrap.rwd-fixed {
	position: absolute;
	left: 0;
}
.reserve-calendar-right-wrap{
	width: 300px;
	background: #fff;
    right: 0;
    position: absolute;
	z-index: 999;
	
}
.signup-sendbtn.formsave .savesend {
	width: 100% !important;
	margin-bottom: 10px !important;
}
}

@media (max-width: 768px) {
/*booking mobile*/
.rwd-table th, .rwd-table td {
	background: #f3f3f3;
	margin: 10px 0;
	padding: 10px 20px;
}

.Timetable {
	overflow-x: scroll;
	position: relative;
	width: 550px;
}
.relate.mar-left35 {
	margin-left: 0;
}
}


@media (min-width: 768px) {
.rwd-table td:before {
	display: none;
}
.rwd-table th, .rwd-table td {
	padding: 0em;
}
.rwd-table th, .rwd-table td {
	padding: 0 40px;
	text-align: -webkit-auto;
	display: table-cell;
}
.rwd-table th:first-child, .rwd-table td:first-child {
	padding: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
	text-align: center;
	padding-right: 0;
}
}

@media (max-width: 480px) {

.list .btn-blue {
	width: 50%;
}
.rwd-table td:first-child {
	padding: 10px 0;
}
.rwd-table td:first-child:before {
	width: 100%;
	background: #f3f3f3;
	margin-bottom: 10px;
	padding: 10px 20px;
	text-align: left;
}
.rwd-table td:last-child {
	background: none;
	text-align: center;
	margin: 20px;
}
.opening_top_left {
	margin-bottom: 0;
}
.phone-mar-top10 {
	margin-top: 10px;
}
.Timetable {
	overflow-x: scroll;
	position: relative;
	width: 300px;
}
}
