/*
 * 控制面版-場地主資料及最新消息
 */
.sitemanager-wrap{
  max-width: 970px;
  margin: 0 auto;
  background-color: #f3f3f3;
  height: 290px;
  margin-top: 20px;
}
.sitemanager{
  float: left;
  position: relative;
  display: inline-block;
  padding: 20px 10px;
  max-width: 250px;
  line-height: 30px;
  margin-left: 60px;
}
.sitemanager .sitelogo{
  text-align: center;
}
.sitemanager .sitename{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 24px;
  color: #4D5059;
  text-align: center;
}
.sitemanager .sitestar_yellow{
  display: inline-block;
  position: relative;
  color: #F7D33D;
}
.sitemanager .sitestar_gray{
  display: inline-block;
  position: relative;
  color: #D5D7D3;
}
.sitemanager .review{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #4D5059;
  display: inline-block;
  position: relative;
}
.sitemanager .hotelname{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 18px;
  color: #4D5059;
  line-height: 30px;
}
.sitemanager .preview_btn{
  width: 120px;
  height: 30px;
  background-color: #4f6ea2;
  border-radius: 5px;
  padding: 0px 5px;
  margin:0 auto;
  margin-top: 5px;
  cursor: pointer;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #FFF;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.sitemanager .preview_btn a{
  color: #FFF;
}
.sitemanager .preview_btn a:hover{
  color: #FFF;
}
.sitemanager .preview_btn:hover{
  color: #FFF;
  background-color: #2d5392;
}
.sitemanager-news{
  float: right;
  position: relative;
  max-width: 650px;
  padding: 20px 0px;
}
.sitenews ul{
  list-style-type: disc;
}
.sitenews li{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  line-height: 30px;
}
.sitenews li a{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  line-height: 30px;
}
.sitenews li a:hover{
  text-decoration: underline;
}
.sitenews li:hover{
  text-decoration: underline;
}
.sitenews li h1{
 font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #D75F50;
}
.sitenews li h1:hover{
 font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #D75F50;
  text-decoration: underline;
}
/*
 * Full menu is enabled on screens of 1024 pixels and higher
 */
@media screen and (max-width: 991px){
  .sitemanager-wrap{
    height: auto;
  }
  .sitemanager{
    float: none;
    display: inherit;
    padding: 20px 20px;
    width: 400px;
    margin-left: 0px;
    margin: 0 auto;
  }
  .sitemanager-news {
    float: none;
    max-width: inherit;
  }
  .sitenews li{
    padding: 0px 10px;
  }
}

/* 控制面版-上架6步驟
 * 
 */
.newsite-wrap{
  max-width: 970px;
  margin: 0 auto;
  margin-top: 20px;
}
.newsite-title{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 24px;
  color: #000000;
}
.newsite-step{
  max-width: 970px;
  margin: 0 auto;
  margin-top: 40px;
}
.newsite-step .steplist{
  float: left;
  position: relative;
}
.newsite-step .steplist:hover{
  font-weight: bolder;
}
.newsite-step .step{
  width: 50px;
  height: 59px;
  position: relative;
  float: left;
  margin-right:8px;
  cursor: pointer;
}
.newsite-step .step .img-top{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.newsite-step .step:hover .img-top{
  display: inline;
}
.newsite-step .step-text{
  float: left;
  position: relative;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D4F59;
  margin-top: 15px;
  margin-right: 25px;
}
.newsite-step .step-text a{
  color: #4D4F59;
}
.newsite-step .step-text a:hover{
  font-weight: bolder;
}
@media screen and (max-width: 991px){
  .newsite-step {
    max-width: 250px;
    margin-bottom: 45px;
    height: 500px;
    }
  .newsite-title{
    text-align: center;
    }
  .newsite-step .steplist {
    padding: 10px 0px;
    }
}

@media screen and (max-width: 768px){
  .newsite-step {
    max-width: 150px;
    margin-bottom: 45px;
    height: 500px;
    }
  .newsite-title{
    text-align: center;
    }
  .newsite-step .steplist {
    padding: 10px 0px;
    width: 280px;
    }
  .newsite-step .step-text {
    margin-right: 0px;
  }
  }

/*控制面版-待處理訂單
 *
 */
.order-content{
  max-width: 970px;
  margin: 0 auto;
}
.order-left-wrap{
  max-width: 600px;
  float: left;
  position: relative;
  margin-top: 85px;
}
.waitorder-wrap{
  max-width: 600px;
  margin-bottom: 45px;
}
.waitorder-title{
  max-width: 600px;
  background-color: #F3F3F3;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 30px;
  color: #4D4F59;
  padding: 15px 10px;
  font-weight: 800;
}
.waitorder-text{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 18px;
  color: #4D4F59;
  margin-top: 10px;
  font-weight: 800;
}
.waitorder-accordion{
  width: 600px;
  margin-top: 25px;
}
.member-pic{
  width: 66px;
    float: left;
  margin-top: 15px;
}
.waitorder-info-wrap{
  max-width: 350px;
  display: inline-block;
  position: relative;
}
.waitorder-infoplace-wrap{
  max-width: 400px;
  display: inline-block;
  position: relative;
}
.member-name{
  font-size: 18px;
  font-weight: 300;
  color: #4D5059;
}
.waitorder-name{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 15px;
  color: #4D4F59;
  display: inline-block;
  position: relative;
}
.waitorder-time{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 15px;
  color: #4D4F59;
  display: inline-block;
  position: relative;
  padding-right: 10px;
}
.waitorder-btn-wrap{
  margin: 10px 0px 10px 70px;
}
.waitorder-btn{
  width: 50px;
  height: 28px;
  background-color: #4f6ea2;
  border-radius: 5px;
  padding: 4px 10px;
  margin-top: 5px;
  display: inline-block;
  position: relative;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  cursor: pointer;
}
.waitorder-btn a{
  color: #FFF;
}
.waitorder-btn a:hover{
  color: #FFF;
}
.waitorder-btn:hover{
  color: #FFF;
  background-color: #2d5392;
}
.waitorder-line{
  border-bottom: 1px solid #9f9fa0;
  padding: 10px 0px;
  max-width: 630px;
}
.waitorder-more{
  margin-top: 30px;
}
.waitorder-more a{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D4F59;
}
.waitorder-more a:hover{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  text-decoration: underline;
}

/* Accordion style */
.cbp-ntaccordion {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cbp-ntsubaccordion {
  list-style: none;
}

.cbp-ntaccordion .cbp-nttrigger{
  cursor: pointer;
  float: left;
  margin-left: 5px;
  max-width: 540px;
  margin-top: 25px;
} 
.cbp-ntaccordion h3 {
  font-size: 18px;
  font-weight: 300;
  color: #4D5059;
  max-width: 550px;
}

.cbp-ntaccordion h4 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  padding: 0.5em 0 0.5em;
  margin: 0 0 0.5em;
}

.cbp-ntaccordion h5 {
  font-size: 1.2em;
  color: #aaa;
  padding: 0.5em 0 0.5em;
  margin: 0 0 0.5em;
}

.cbp-ntaccordion .cbp-ntcontent p {
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 15px;
  color: #4D4F59;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  padding-left: 70px;
  text-align: justify;
}

/* Initial height is zero */
.cbp-ntaccordion .cbp-ntcontent {
  height: 0;
  overflow: hidden;
}

/* When open, set height to auto */
.cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
.cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
.no-js .cbp-ntaccordion .cbp-ntcontent {
  height: auto;
  max-width: 630px;
}
@media screen and (max-width: 991px){
    .order-left-wrap{
      max-width: inherit;
      float: none;
      margin: 0 auto;
      width: 600px;
    }

}
@media screen and (max-width: 768px){
    .order-content {
    max-width: 320px;
    }
    .order-left-wrap {
    margin-top: 20px;
    float: none;
    }
    .waitorder-wrap{
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    }
    .cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
    .cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
    .no-js .cbp-ntaccordion .cbp-ntcontent {
      max-width: 290px;
    }
    .cbp-ntaccordion .cbp-nttrigger {
      max-width: 230px;
      margin-top: 15px;
    } 
    .member-pic {
      top: -20px;
    } 
    .waitorder-line{
      max-width: 300px;
    }
    .waitorder-infoplace-wrap{
      max-width: inherit;
      width: 200px;
    }
    .waitorder-accordion {
      width: 320px;
    }
    .waitorder-name{
      font-size: 13px;
    }
    .waitorder-time{
      font-size: 13px;
      padding-right: 0px; 
    }
}
@media screen and (max-width: 480px){
    .waitorder-wrap {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    }
    .cbp-ntaccordion .cbp-ntopen > .cbp-ntcontent,
    .cbp-ntsubaccordion .cbp-ntopen > .cbp-ntcontent,
    .no-js .cbp-ntaccordion .cbp-ntcontent {
      max-width: 290px;
    }
    .waitorder-line {
    max-width: 280px;
    }
    .cbp-ntaccordion .cbp-nttrigger {
      max-width: 230px;
    } 
    .member-pic {
    top: -20px;
    } 
    .waitorder-infoplace-wrap{
      max-width: inherit;
      width: 320px;
    }
    .waitorder-accordion {
    width: 320px;
    }
    .waitorder-name{
    font-size: 13px;
    }
    .waitorder-time{
    font-size: 13px;
    }
}

/* 控制面版-右側統計及廣告
 * 
 */
.order-right-wrap{
  max-width: 340px;
  float: right;
  position: relative;
  margin-top: 85px;
}
.count-wrap{
  width: 340px;
  height: 250px;
  background-color: #F3F3F3;
}
.count-list-horizontal{
  width: 340px;
  height: 90px;
  position: relative;
  margin: 0px 0px 17px;
  padding-top: 18px;
}
.count-list{
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;
  padding: 0px 10px;
  margin-right: 14px;
}
.count-list-bg{
  width: 103px;
  height: 103px;
  position: absolute;
  background-color: #FFF;
  z-index: 0;
  text-align: center;
}
.count-list-number{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 30px;
  color: #4D4F59;
  display: inline-block;
  padding: 10px;
  z-index: 3;
}
.count-list-number p{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 12px;
  color: #4D4F59;
  display: inline-block;
  position: relative;
}
.count-list-text{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 12px;
  color: #4D4F59;
  padding: 0px 5px;
}
.advertisement-wrap{
  max-width: 350px; 
}
.advertisement-pic{
  width: 340px;
  height: 250px;
  background-color: #f3f3f3;
  margin-top: 20px;
}
.advertisement-wrap img{
  width: 360px;
  height: 245px;
  margin-top: 45px;
}
.importantnews-wrap{
  width: 340px;
  margin-top: 190px;
}
.importantnews-list{
  background-color: #00a699;
  border-radius: 5px;
  width: 340px;
  padding: 0px 10px;
  margin-top: 20px;
}
.importantnews-star{
  width:28px;
  height: 28px;
  color: #f1c40f;
  display: inline-block;
  position: relative;
  padding-left: 10px; 
}
.importantnews-title{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 18px;
  color: #FFF;
  font-weight: 800;
  padding: 10px;
  display: inline-block;
  position: relative;
}
.importantnews-text{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  padding: 10px;
  text-align: justify;
  line-height: 20px;
}
#notifications {
  cursor: pointer;
  position: fixed;
  right: 0px;
  z-index: 9999;
  bottom: 0px;
  margin-bottom: 30px;
  margin-right: 55px;
  width: 340px;
  padding: 0px 10px;  
}

#notifications h2{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 13px;
  color: #FFF;
  margin-top: 10px;
  line-height: 20px;
}
.alert-danger{
  color: #FFF;
  background-color: #00a699;
  border-radius: 5px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  border: 0px;
}
.alert-stop{
  color: #FFF;
  background-color: #00a699;
  border-radius: 5px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
}
@media screen and (max-width: 991px){
  .order-right-wrap {
    margin-top: 0px;
    margin: 0 auto;
    float: none;
    }
}
@media screen and (max-width: 768px){
  .order-right-wrap {
    max-width: 300px;
    top: 20px;
    margin: 0 auto;
    float: none;
    }
  .importantnews-wrap{
    width: 300px;
    margin-top: 30px;
   }
   .importantnews-list {
    width: 300px;
    }
   .count-wrap{
    width: 300px;
    height: 230px;
    display: none;
   }
   .count-list {
    width: 90px;
    height: 90px;
    padding: 0px 6px;
    margin-right: 5px;
    }
   .count-list-bg {
    width: 90px;
    height: 90px;
    }
    .advertisement-pic {
    width: 300px;
    height: 200px;
  }
    #notifications {
    margin-right: 0px;
    }
}

/* 帳號及權限管理-註冊資訊
 * 
 */
.signup-info-wrap {
    width: 25%;
    margin: 30px auto 0 auto;
    display: inline-block;
    vertical-align: top;
}
.signup-nav-wrap{
  display: inline-block;
  width: 100%;
}
#subnav { }
.subnavList{
  color: #999999;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  font-weight: bolder;
  /*width: 250px;*/
}
.subnavList li{
  list-style-type: none;
  border: 1px solid #f4f4f4;
  margin-bottom: 10px;
  color: #9a9a9a;
}
.subnavList li a{
  color: #9a9a9a;
}
.subnavList li:hover{
  color: #4D4F59;
  background-color: #f3f3f3;
}
.subnavList li.current{
  color: #4D4F59;
  background-color: #f3f3f3;
}
.subnavList a:hover,
/*a:active*/ {
  display: block;
  background-color: #f3f3f3;
  color: #4D4F59;
}
.subnavList a.selected, .subnavList a.selected:link,
a.selected:active {
  display: block;
  background-color: #f3f3f3;
  color: #4D4F59;
}
.subnavList a.selected:hover,
a.selected:active {
  display: block;
  background-color: #f3f3f3;
  color: #4D4F59;
}

.notice-signup{
  border-radius: 10px;
  max-width: 250px;
  border: 2px solid #9f9fa0;
  margin-top: 50px;
}
.notice-titlewrap{
  width: 220px;
  padding: 10px 10px;
}
.notice-title-icon{
  width: 30px;
  height: 40px;
  float: left;
  position: relative;
}
.notice-title{
  color: #4D4F59;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  font-weight: 900;
  float: left;
  position: relative;
  padding-left: 10px;
  padding-right: 15px;
  top: 15px;
}
.notice-text{
  color: #4D4F59;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 13px;
  padding: 40px 10px 20px;
  text-align: justify;
  line-height: 20px;
}
.notice-text a{
  color: #4D4F59;
}
.notice-text a:hover{
  color: #4D4F59;
  text-decoration: underline;
}
.signup-content-wrap{
  float: left;
  position: relative;
  margin-left: 50px;
  max-width: 700px;
  margin-top: 10px;
}
.editinfo-content-wrap{
  width: 72%;
  display: inline-block;
  margin: 30px 0 0 2.5%;
}
.signup-mainwrap{
  max-width: 700px;
  height: 310px;
}
.signup-maintitle {
    width: 100%;
    background-color: #F3F3F3;
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 30px;
    color: #4D4F59;
    padding: 15px 10px;
    font-weight: 800;
    margin-bottom: 10px;
}
.signup-onewrap{
  width: 100%;
  padding: 15px 0px;
  margin: 0 auto;
}
.signup-title{
  width: 150px;
  float: left;
  text-align: left;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  letter-spacing: 3px;
}
.signup-text{
   width: 550px;
  text-align: left;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  letter-spacing: 1px;
}
.signup-addresswrap{
  width: 550px;
  position: relative;
  float: left;
}
.signup-sendbtn input[type=submit].savesend {
  width: 200px;
  border-radius: 5px;
  background-color: #4f6ea2;
  border: none;
  color: #FFF;
  padding: 8px 0px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 24px;
  margin-top: 20px;
  margin-right: 15px;
}
.signup-sendbtn input[type=submit].savesend:hover{
  background-color: #2d5392;
}

@media screen and (max-width: 991px){
.signup-sendbtn input[type=submit].savesend {
  margin: 45px auto 0 auto;
  display: block;
}
}

/*
 * 帳號及權限管理-編輯資訊
 */
.bootstrap-frm input[type="password"].edit-maxinput, input[type="text"].edit-maxinput{
    width:135px;
    display: inline-block;
    position: relative;
    top: 0px;
    margin-left: 20px;
}
ul {
  list-style: none;
  padding: 0;
}
  
ul .inner {
  width: 450px;
  margin-left: 150px;
  overflow: hidden;
  display: none;
}
      
ul .show {
    /*display: block;*/
}

      
li a.toggle {
  display: block;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  letter-spacing: 1px;
}
li a.toggle:hover{
  text-decoration: underline;
}
.limit-setup{
  width:100%;
  background-color: #f3f3f3;
  padding: 15px;
  overflow: hidden;
}
.limit-setup .title{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #4D5059;
  font-weight: bolder;
  margin: 10px 2.5% 20px 2.5%;
}

.limittext-list{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #4D5059;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0 2.5%;
}
.limittext-list li{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #4D5059;
 /* width: 200px;*/
  list-style-type: none;
  line-height: 25px;
}
.limittext-list li a{
  color: #4D5059;
}
.limittext-list li a:hover{
  color: #A9A9A9;
}
@media screen and (max-width: 1199px){
.limit-setup .title{
  margin: 10px 1.3% 20px 1.3%;
}
.limittext-list {
  margin: 0 1.3%;
}
}
@media screen and (max-width: 991px){
  .signup-info-wrap{
   width: 100%;
   margin: 0;
  }
  .signup-maintitle {
    width:100%;
    font-size: 20px;
    padding: 10px 10px;
    font-weight: 600;
    margin-bottom: 10px;
  }
.signup-onewrap{
  width: 100%;
}
  .signup-content-wrap{
    float: none;
    margin-left: 0px;
    max-width: 600px;
    margin: 0 auto;
  }
  .signup-mainwrap{
  max-width: 600px;
  height: 360px;
  }
  .editinfo-content-wrap{
  margin: 0;
  width: 100%;
  }
.limit-setup .title{
  margin: 10px 1.7% 20px 1.7%;
}
.limittext-list {
  margin: 0 1.7%;
}
  .limit-setup{
  }

#subnav { padding: 0; position: relative;  width: 100%; margin-top: 16px;  margin-bottom: 16px; box-sizing: border-box; }
.subnavTitle { margin-top: 15px; padding: 15px 15px; color: #fff; font-size: 15px;  cursor: pointer; background: #4E5059; }
.subnavTitle [class*='fa-'] { position: absolute; font-size: 12px; color: #fff; top: 20px; }
.subnavTitle .fa-plus {  right: 30px; }
.subnavTitle .fa-minus { right: 30px; display: none; }
.subnavList { margin: 0; width: 100%; display: none; background-color: rgb(255, 255, 255); padding: 0; line-height: 27px;}
.subnavList li { margin: 0; border-bottom: 1px solid #FFF; padding-left: 15px; padding: 0; display: block; text-align: left;}
.subnavList a { display: block; color: #2D2D2D;  padding: 13px; box-sizing: border-box; }
.subnavList a:hover{ text-decoration: none;  background: #f3f3f3; color: #000; }
}
@media screen and (max-width: 768px){
  .signup-info-wrap{
   width: 100%;
   margin: 0 auto;
  }
  .signup-content-wrap{
    float: none;
    margin-left: 0px;
    max-width: 300px;
    margin: 0 auto;
  }
  .signup-title {
    width: 80px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  .signup-text {
    width: 250px;
    font-size: 14px;
    letter-spacing: 0px;
  }
  .signup-mainwrap{
  max-width: 300px;
  height: 360px;
  }
.signup-onewrap{
  width: 100%;
}
  .editinfo-content-wrap{
  width: 100%;
  margin: 0;
  }
  .limit-setup{
  height: auto;
  }
  .limittext-list {
    float: none;
  }
.limit-setup .title{
  margin: 10px 1.7% 20px 1.7%;
}
.limittext-list {
  margin: 0 0 6% 1.7%;
  width: 30%;
}
}
@media screen and (max-width: 480px){
.limittext-list {
  margin: 0 0 6% 1.7%;
  width: 47%;
}
}

/* 刊登場地與價格-場地主頁面編輯
 * 
 */
.spaceowner-content-wrap{
  float: left;
  position: relative;
  margin-left: 50px;
  max-width: 700px;
}
.spaceowner-row{
  width: 700px;
  margin: 0 auto;
  border-bottom: none;
}
.spaceowner-row .nav-tabs{
  border-bottom: 24px #4f6ea2 solid;
  padding-left: 70px;
}
.spaceowner-row .active{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #4D5059;
  border:none;
}
.spaceowner-row .nav-tabs > li {
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  display:block; 
  margin-right:0; 
  line-height:20px; 
  font-size:18px; 
  letter-spacing:2px;
  border:none;
  padding: 8px 0px 1px;
}
.spaceowner-row .nav-tabs > li > a {
  background:url(../../view/images/tab-bg.png) no-repeat center bottom; 
  background-size:contain; 
  color:#4e5059; 
  padding:8px 60px 2px; 
  border:none; 
}
.spaceowner-row .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  background:url(../../view/images/tab-bg-active.png) no-repeat center bottom; 
  background-size:contain; 
  color:#FFF;
  padding:8px 60px 2px;
  border:none;  
}
.spaceowner-row .tab-content{
  width: 700px;
  margin: 0 auto;
}
.spaceowner-row .upload-photo{
  border: 2px dashed #4f6ea2;
  width: 700px;
  height: 230px;
  float: left;
  text-align: center;
}
.spaceowner-row .add-row{
  max-width: 250px;
  margin: 0 auto;
  margin-top: 50px;
}
.spaceowner-row .addicon{
  text-align: center;
}
.spaceowner-row .addtext{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #999999;
  line-height: 25px;
  font-weight: bolder;
  text-align: center;
  }
.spaceowner-row .add-btn{
  background-image: url(../../view/images/spaceowner-c1.png);
  margin: 0 auto;
  width:94px;
  height: 94px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  margin-top: 42px;
  padding-top: 15px;
  text-align: center;
  font-weight: bolder;
}
.spaceowner-row .add-btn a{
  color: #999999;
}
.spaceowner-row .add-btn a:hover{
  color: #222;
}
.spaceowner-row .spacename-row{
  padding-top: 290px;
}
.spaceowner-row .sitename {
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 20px;
    color: #4D5059;
    text-align: center;
    font-weight: 400;
}
.spaceowner-row .hotelname {
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 16px;
    color: #4D5059;
    line-height: 30px;
    text-align: center;
    font-weight: 400;
}
.spaceowner-row .spacephoto-row{
  max-width: 550px;
  margin-top: 20px;
  margin: 0 auto;
}
.spaceowner-row .photolist{
  float: left;
  position: relative;
  background-image: url(../../view/images/spaceowner_c2.jpg);
  width: 83px;
  height: 55px;
  margin-left: 4px;
}
.spaceowner-row .edit-btn{
  float: right;
  position: relative;
  background-color: #f3f3f3;
  color: #000;
  padding: 1px 3px 1px 5px;
}
.spaceowner-row .edit-btn:hover{
  background-color: #4f6ea2;
  color: #FFF;
  border: none;
  padding: 1px 3px 1px 5px;
}

.spaceowner-row .dropdown-items {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    color: #000;
}
.spaceowner-row .dropdown {
    position: relative;
}
.spaceowner-row .spacephoto .dropdown .spacephto-dropdown {
    display: block;
    color: #4D5059;
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
}
.spaceowner-row .dropdown .dropdown-menu {
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
}
.spaceowner-row .spacephoto .dropdown .dropdown-menu li {
    border-width: 0;
    display: block;
    float: none;
    color: #4D5059;
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 14px;
}
.spaceowner-row .dropdown-items .dropdown-menu li {
    border-left: 1px solid #fff;
}
.spaceowner-row .dropdown-menu > li > a {
    padding: 3px 10px;
    color: #333;
    width: 80px;
}
.spaceowner-row .dropdown-menu > li > a:hover {
    padding: 3px 10px;
    width: 80px;
    background-color: #4f6ea2;
    color: #FFF;
}
.spaceowner-row .dropdown-menu{
    min-width: 80px; 
}
.spaceowner-row .photolist-upload{
  border: 1px dashed #4f6ea2;
  width: 83px;
  height: 55px;
  float: left;
  margin-left: 4px;
  background-image: url(../../view/images/spaceowner-c3.png);
  background-repeat: no-repeat;
}
.spaceowner-row .upload-text{
  color: #4D5059;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 6px 0px;
}

.spaceowner-row .spacetitle{
  color: #4D5059;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 24px;
  float: left;
  position: relative;
  width: 700px;
  font-weight: 600;
  padding: 15px 0px 10px; 
}
.spaceowner-row .spacefiled-row{
  max-width: 700px;
  padding-top: 20px;
}
.spaceowner-row .spacefiled-title{
  color: #4D5059;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  float: left;
  position: relative;
  padding-top: 8px;
}
.bootstrap-frm select.establish-year{
  width: 150px;
  float: left;
  position: relative;
  margin-left:10px;
  margin-right: 20px;
}
.bootstrap-frm input[type="text"].fixup-year{
  width:150px;
  float: left;
  position: relative;
  margin-left: 10px;
}

.bootstrap-frm textarea.spaceinfo-text{
  width: 700px;
  height: 150px;
  padding: 12px 8px;
  border: 1px solid #ccc;
  background-color: #FFF;
  font-size: 14px;
  margin-top: 10px;
}

.spaceowner-row .addfacility-row{
  float: left;
  position: relative;
  margin-top: 0px;
  width: 700px;
}
.spaceowner-row .addfacility-btn{
  width: 300px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
}
.spaceowner-row .addfacility-btn a{
  color: #4D5059;
}
.spaceowner-row .addfacility-btn a:hover{
  color: #00A599;
}

.spaceowner-row .facility-row{
  width: 700px;
}
.spaceowner-row .facilitylist{
  width: 330px;
  float: left;
  position: relative;
  margin-top: 20px;
  margin-right: 15px;
}
.spaceowner-row .facilitylist-title{
  width: 300px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  float: left;
  position: relative;
}
.spaceowner-row .equipment-row{
  float: left;
  position: relative;
  margin-top: 10px;
}
.spaceowner-row .equip-icon{
  float: left;
  position: relative;
  width: 17px;
  margin-right: 10px;
}
.spaceowner-row .equip-text{
  float: left;
  position: relative;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  margin-left: 10px;
  width: 75px;
}
.spaceowner-row .equip-field{
  float: left;
  position: relative;
  margin-left: 5px;
}
.bootstrap-frm input[type="underline_text"].equipment{
  width: 180px;
  float: left;
  position: relative;
  margin-top: -10px;
}
.spaceowner-row .equip-trashicon {
  float: left;
  position: relative;
  width: 25px;
  margin-left: 5px;
}
.spaceowner-row .equip-trashicon a{
  color: #4D5059;
}
.spaceowner-row .equip-trashicon a:hover{
  color: #00A599;
}

.spaceowner-row .restaurant-row{
  width: 700px;
}
.spaceowner-row .restaurant-listleft{
  width: 170px;
  float: left;
  position: relative;
  margin-top: 20px;
}
.spaceowner-row .restaurant-title{
  width: 300px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  float: left;
  position: relative;
}
.spaceowner-row .restaurant-field{
  float: left;
  position: relative;
  margin-top: 5px;
}
.bootstrap-frm input[type="text"].equipment{
  width: 200px;
  float: left;
  position: relative;
}

.spaceowner-row .restaurant-listright{
  width: 472px;
  float: left;
  position: relative;
  margin-top: 20px;
}
.spaceowner-row .restaurant-field{
  width: 472px;
  float: left;
  position: relative;
}
.bootstrap-frm textarea.restaurant-infotext{
  width: 472px;
  height: 130px;
  padding: 12px 8px;
  border: 1px solid #ccc;
  background-color: #FFF;
  font-size: 14px;
}
.spaceowner-row .restaurant-listtrash{
  width: 25px;
  float: left;
  position: relative;
  margin-top: 45px;
}
.spaceowner-row .otherequip-text{
  float: left;
  position: relative;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  margin-left: 10px;
  width: 120px;
}
.bootstrap-frm input[type="underline_text"].otherequipment{
  width: 110px;
  float: left;
  position: relative;
  margin-top: -10px;
}
.spaceowner-row .address-title{
  width: 700px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  float: left;
  position: relative;
  margin-top: 20px;
}
.spaceowner-row .address-latitude{
  width: 700px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  float: left;
  position: relative;
  margin-bottom: 20px;
}
.spaceowner-row .spaceowner-endnotice{
  width: 700px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #00A599;
  float: left;
  position: relative;
  margin-top: 50px;
  font-weight: bolder;
}
.bootstrap-frm input[type="text"].fulladdress  {
    width: 700px;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}
.signup-sendbtn{
  /*width: 700px;*/
}
.spaceowner-row .siteseo-title{
  width: 700px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  float: left;
  position: relative;
  margin-top: 20px;
}
.spaceowner-row .siteseo-row{
  width: 700px;
}
.spaceowner-row .siteseo-text{
  width: 700px;
  float: left;
  position: relative;
}
.bootstrap-frm input[type="text"].siteseo {
    width: 700px;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}

/* 刊登場地與價格-管理您的場地
 * 
 */
.productinfo-row{
  width: 700px;
  margin-top: 10px;
}
.spacelogo{
  float: left;
  position: relative;
  margin-left: 10px;
}
.spacelogo img{
  width: 95px;
  height: 95px;
}
.spaceownerinfo{
  width: 420px;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
}
.productinfo-row .producttitle{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  float: left;
  position: relative;
  width: 700px;
  margin-top: 15px;
}
.spaceownerinfo .spacename{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
}
.bootstrap-frm input[type="text"].spacename {
  width: 420px;
  float: left;
  position: relative;
}
.spaceownerinfo .spacename-notice{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #D75F4F;
  line-height: 30px;
}
.spaceownerinfo-floor{
  width: 120px;
  float: left;
  position: relative;
  margin-left: 10px;
  margin-top: 10px;
}
.spaceownerinfo-floor .spacefloor{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  font-weight: bolder;
}
.bootstrap-frm select.spacefloor{
  width: 120px;
  float: left;
  position: relative;
}

/* 刊登場地與價格-管理您的場地-照片上傳
 * 
 */
.productinfo-row .photolist-wrap{
  width: 700px;
  margin-top: 20px;
}
.productinfo-row .photolist{
  background-image: url(../../view/images/spaceowner_c4.jpg);
  width: 225px;
  height: 155px;
  margin-left: 4px;
}
.productinfo-row .photolist-row{
  width: 225px;
  float: left;
  position: relative;
  margin-right: 4px;
}
.productinfo-row .photolist-upload{
  margin-left: 4px;
  border: 1px dashed #4f6ea2;
  width: 225px;
  height: 155px;
  background-image: none;
  padding: 20px 0px;
}
.productinfo-row .upload-text{
  color: #4D5059;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 6px 0px;
}
.bootstrap-frm input[type="text"].uploadphoto {
  width: 225px;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 3px;
}

.productinfo-row .edit-btn{
  float: right;
  position: relative;
  background-color: #f3f3f3;
  color: #000;
  padding: 1px 3px 1px 5px;
}
.productinfo-row .edit-btn:hover{
  background-color: #4f6ea2;
  color: #FFF;
  border: none;
  padding: 1px 3px 1px 5px;
}

.productinfo-row .dropdown-items {
    float: right;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    color: #000;
}
.productinfo-row .dropdown {
    position: relative;
}
.productinfo-row .spacephoto .dropdown .spacephto-dropdown {
    display: block;
    color: #4D5059;
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
}
.productinfo-row .dropdown .dropdown-menu {
    border-radius: 0;
    border: none;
    margin: 0;
    padding: 0;
    margin-top: 24px;
}
.productinfo-row .spacephoto .dropdown .dropdown-menu li {
    border-width: 0;
    display: block;
    float: none;
    color: #4D5059;
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 14px;
}
.productinfo-row .dropdown-items .dropdown-menu li {
    border-left: 1px solid #fff;
}
.productinfo-row .dropdown-menu > li > a {
    padding: 3px 10px;
    color: #333;
    width: 80px;
}
.productinfo-row .dropdown-menu > li > a:hover {
    padding: 3px 10px;
    width: 80px;
    background-color: #4f6ea2;
    color: #FFF;
}
.productinfo-row .dropdown-menu{
    min-width: 80px; 
}

/* 刊登場地與價格-管理您的場地-適合用途
 * 
 */
.spaceowner-row .used-row{
  width: 700px;
}
.spaceowner-row .usedlist{
  float: left;
  position: relative;
}
.spaceowner-row .usedlist-title{
  width: 700px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
  float: left;
  position: relative;
}
.spaceowner-row .purpose-row{
  width: 135px;
  float: left;
  position: relative;
  margin-top: 10px;
}
.spaceowner-row .purpose-row li{
  margin-top: 5px;
  list-style-type: none;
}
/* 刊登場地與價格-管理您的場地-銷售計價方式
 * 
 */
.spaceowner-row .price-row{
  width: 700px;
  margin-top: 10px;
}
.spaceowner-row .price-row li{
  margin-top: 5px;
  list-style-type: none;
  float: left;
  position: relative;
  margin-right: 30px;
  margin-top: 10px;
}
/* 刊登場地與價格-管理您的場地-注意提示
 * 
 */
.editproduct-notice{
  width: 700px;
  margin-top: 50px;
  background-color: #f3f3f3;
  padding: 4px 2px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #D75F4F;
  float: left;
  position: relative;
 }
@media screen and (max-width: 991px){
  .spaceowner-content-wrap {
    float: none;
    margin-left: 0px;
    margin: 0 auto;
  }
  .spaceowner-row .nav-tabs {
    padding-left: 10px;
    max-width: 550px;
  }
  .spaceowner-row, .spaceowner-row .upload-photo, .spaceowner-row .sitename, 
  .spaceowner-row .hotelname , .spaceowner-row .spacephoto-row, .bootstrap-frm textarea.spaceinfo-text, 
  .spaceowner-row .spacefiled-row, .spaceowner-row .spacetitle, 
  .spaceowner-row .facility-row,.spaceowner-row .addfacility-row,
  .spaceowner-row .restaurant-listleft,.bootstrap-frm input[type="text"].fulladdress {
    width: 550px;
  }
  .spaceowner-row .spacephoto-row {
    margin: 0;
  }
  .spaceowner-row .facilitylist-title{
    margin-top: 20px;
  }
  .bootstrap-frm input[type="text"].siteseo {
    width: 550px;
    display: inline-block;
    position: relative;
    margin-top: 5px;
}
  .spaceowner-row .siteseo{
    width: 550px;
  }
  /* 刊登場地與價格-管理您的場地
   * 
   */
  .spaceownerinfo-floor {
    float: none;
    margin-left: 125px;
  }
  .productinfo-row .photolist-wrap {
    width: 600px;
    margin: 0 auto;
  }
  .productinfo-row .photolist-row {
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px){
  .spaceowner-content-wrap {
    float: none;
    margin-left: 0px;
    margin: 0 auto;
  }
  .spaceowner-row .nav-tabs {
    padding-left: 0px;
    max-width: 280px;
  }
  .spaceowner-row .photolist, .spaceowner-row .photolist-upload {
    margin-top: 5px;
  }
  .spaceowner-row, .spaceowner-row .upload-photo, .spaceowner-row .sitename, 
  .spaceowner-row .hotelname , .spaceowner-row .spacephoto-row, .bootstrap-frm textarea.spaceinfo-text, 
  .spaceowner-row .spacefiled-row,
  .spaceowner-row .facility-row,.spaceowner-row .restaurant-row,
  .spaceowner-row .restaurant-listleft{
    width: 280px;
  }

  .spaceowner-row .spacephoto-row {
    margin: 0;
    height: 120px;
  }
  .spaceowner-row .facilitylist-title{
    margin-top: 20px;
  }
  .spaceowner-row .spacetitle{
    width:  -webkit-fill-available;
  }
  .spaceowner-row .addfacility-row{
    width: -webkit-fill-available;
  }
  .bootstrap-frm input[type="text"].fulladdress {
    width: 280px;
  }
  .spaceowner-row .nav-tabs > li > a {
    background: none; 
    color:#4e5059; 
    padding:8px 30px 2px; 
    border:none;
    border-radius: 3px;
    top: 3px; 
  }
.spaceowner-row .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background:none; 
    color:#FFF;
    padding:8px 30px 2px;
    border:none;
    background-color: #4f6ea2;
    border-radius: 3px;
    top: 3px;
  }
  .bootstrap-frm input[type="text"].fixup-year{
    margin-top: 5px;
  }
  .bootstrap-frm input[type="underline_text"].equipment {
    width: 150px;
  }
  .spaceowner-row .restaurant-listleft {
    width: 250px;
  }
  .bootstrap-frm textarea.restaurant-infotext {
    width: 250px;
  }
  .spaceowner-row .restaurant-listtrash {
    float: right;
    margin-top: 0px;
    top: -135px;
  }
  .signup-sendbtn{
  /*width: 300px;*/
  }
  .bootstrap-frm input[type="text"].siteseo {
    width: 280px;
    float: left;
    margin-top: 5px;
   }
   .spaceowner-row .siteseo{
   width: 280px;
   }
   .spaceowner-row .spaceowner-endnotice {
    width: 280px;
  }
}