.first-loginwrap-rwd{
    display: none;
  }
.second-loginwrap-rwd{
    display: none;
  }
.login-wrap-fullscreen{
    margin:0;
    padding:0;
    background: #f3f3f3 url(../../view/images/login_bg_c0.jpg) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
  min-height: 1069px;
}
.bg-textwrap{
  max-width: 450px;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-top: 610px;
}
.bg-text-title{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 17px;
  color: #FFF;
  font-weight: bolder;
}
.bg-text{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  padding-top: 25px;
}
.first-loginwrap{
  max-width: 50%;
  float: right;
  position: relative;
  margin-right: 16%;
  margin-top: 10%;
}
.firstlogin-logo{
  margin: 0 auto;
  margin-bottom: 30px;
}
.firstlogin-logo img{
  width: 370px;
}
.firstlogin-onewrap{
  max-width: 400px;
  padding: 6px 0px;
  margin: 0 auto;
}
.firstlogin-title{
  width: 100px;
  float: left;
  display: inline-block;
  text-align: left;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
}
.firstlogin-email{
  display: inline-block;
  text-align: left;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
}
.field-icon {
  margin-left: 325px;
  top: -32px;
  position: relative;
  z-index: 2;
}
.field-second-icon {
    margin-left: 290px;
    top: -32px;
    position: relative;
    z-index: 2;
}
.container{
/*  padding-top:50px;
  margin: auto;*/
}
.firstlogin-legalwrap{
  max-width: 500px;
  float: left;
}
.second-loginwrap{
  max-width: 50%;
  float: right;
  position: relative;
  margin-right: 16%;
  margin-top: 15%;
}
.secondlogin-title{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 18px;
  color: #67696D;
  font-weight: bolder;
}
.secondlogin-onewrap{
  max-width: 300px;
  margin-top: 10px;
}
.secondlogin-forgetwrap{
  top: -80px;
}
.forgetpw{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #B31F21;
  float: left;
  position: relative;
}
.forgetpw a{
  color: #B31F21;
}
.forgetpw a:hover{
  text-decoration: underline;
}
.keeplogin{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #B31F21;
  float: left;
  margin-left: 10px;
}
.keeplogin a{
  color: #B31F21;
}
.keeplogin a:hover{
  text-decoration: underline;
}
.secondlogin-legalwrap{
  max-width: 500px;
  float: left;
  position: relative;
}



/* #### bootstrap Form #### */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C6C8C7;
    opacity: 1; /* Firefox */
}
.bootstrap-frm{
    width: 100%;
    margin-bottom: 10px;
}
.bootstrap-frm h1 {
    font: 25px "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}
.bootstrap-frm h1>span {
    display: block;
    font-size: 11px;
}

.bootstrap-frm label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.bootstrap-frm input[type="text"], .bootstrap-frm input[type="email"], .bootstrap-frm input[type="password"], .bootstrap-frm input[type="tel"], .bootstrap-frm input[type="number"],.bootstrap-frm textarea, .bootstrap-frm select{
    color: #888;
    height: 35px;
    outline: 0 none;
    margin-right: 0px;
    padding: 5px 0px 5px 5px;
    border: 1px solid #C6C8C7;
    border-radius: 6px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;    
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background-color: #FFF;
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 14px;
    color: #4D5059;
}
.bootstrap-frm input[type="password"].maxinputsignup, input[type="text"].maxinputsignup{
    top: -9px;
    position: relative;
    width: 540px;
}
.bootstrap-frm input[type="password"].maxmaxinput, input[type="text"].maxmaxinput{
    width:320px;
    display: inline-block;
    position: relative;
    top: -7px;
}
.bootstrap-frm input[type="password"].maxinput, input[type="text"].maxinput{
    width:249px;
    display: inline-block;
    position: relative;
    top: -7px;
}
.bootstrap-frm input[type="text"].midinputsignup{
    width:150px;
    display: inline-block;
    position: relative;
    top: -7px;
}
.bootstrap-frm input[type="text"].midinput{
    /*width:120px;*/
    display: inline-block;
    position: relative;
    top: -7px;
}
.bootstrap-frm input[type="text"].mindinput{
    width:100px;
    display: inline-block;
    position: relative;
    top: -7px;
}
.bootstrap-frm input[type="text"].mininput{
    width:40px;
    display: inline-block;
    position: relative;
    top: -7px;
}
.bootstrap-frm input[type="underline_text"]{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #4D5059;
  color: #888;
  box-sizing: border-box;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  height: 35px;
  position: relative;
  width: 200px;
  margin-right: 0;
  padding-top: 2px;
}

.bootstrap-frm select {
    background: #FFF url('../images/down-arrow.png') no-repeat right;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    height: 35px;
    line-height:15px;
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 13px;
    padding-right: 10px;
}
select.department{
    width: 120px;
    display: inline-block;
    position: relative;
    top: -7px;
}
select.regional{
    width: 60px;
    display: inline-block;
    position: relative;
    top: -7px;
}

.bootstrap-frm label.legal{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 0px;
}
.bootstrap-frm label.used{
    display: inline-block;
    padding: 10px 20px;
    margin-top: 0px;
}
.legal-choose {
    text-align: center;
    margin-top: 5px;
}
.bootstrap-frm label h2{
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 13px;
    color: #4D4F59;
}
.bootstrap-frm label h2 a{
    color: #4D4F59;
}
.bootstrap-frm label h2 a:hover{
   text-decoration: underline;
}
.bootstrap-frm label h3{
    font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
    font-size: 16px;
    color: #4D4F59;
}
.bootstrap-frm label h3 a{
    color: #4D4F59;
}
.bootstrap-frm label h3 a:hover{
   text-decoration: underline;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.25em; height: 1.25em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '✔';
  position: absolute;
  top: 1px; left: 1px;
  line-height: 0.8;
  color: #000;
  transition: all .2s;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 15px;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #222;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}


/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
.firstlogin-sendbtn{
}

.firstlogin-sendbtn input[type=submit].loginsend {
  width: 350px;
  border-radius: 5px;
  background-color: #b61d1a;
  border: none;
  color: #FFF;
  padding: 8px 0px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 15px;
  margin-top: 20px;
}
.firstlogin-sendbtn input[type=submit].loginsend:hover{
  background-color: #9d0704;
}
@media screen and (max-width: 1760px) and (min-width: 1600px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
}
@media screen and (max-width: 1599px) and (min-width: 1360px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .first-loginwrap {
    margin-right: 12%;
    margin-top: 4%;
  }
}
@media screen and (max-width: 1359px) and (min-width: 1280px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .first-loginwrap {
    margin-right: 12%;
    margin-top: 4%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .first-loginwrap {
    margin-right: 8%;
    margin-top: 4%;
  }
  .first-loginwrap-rwd{
    display: none;
  }
  .second-loginwrap-rwd{
    display: none;
    }
}
@media screen and (max-width: 1023px) and (min-width: 960px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .bg-textwrap {
    margin-top: 570px;
  }
  .first-loginwrap {
    margin-right: 8%;
    margin-top: 2%;
  }
  .firstlogin-logo img {
    width: 200px;
}
  .firstlogin-logo {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    }
  .first-loginwrap-rwd{
    display: none;
  }
  .firstlogin-sendbtn input[type=submit].loginsend {
    margin-top: 10px;
  }
  .firstlogin-sendbtn {
    padding-bottom: 40px;
  }
  .second-loginwrap-rwd{
    display: none;
    }
  .second-loginwrap {
    margin-right: 10%;
  }
}
@media screen and (max-width: 959px) and (min-width: 760px){
  .login-wrap-fullscreen{
  background: url(../../view/images/login_bg_c2.jpg) no-repeat;
  max-width: 1280px;
  margin-top: 0px;
  -moz-background-size: cover;
  background-size: cover;
  min-height: auto;
  height: 500px;
  }
  .bg-textwrap {
    margin-top: 38%;
  }
  .first-loginwrap{
    display: none;
  }
  .first-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
    padding: 0 10px;
  }
  .firstlogin-logo {
    text-align: center;
  }
  .firstlogin-logo img{
    width: 250px;
   }
   .firstlogin-title{
    width: 80px;
    font-size: 14px;
   }
   .firstlogin-email{
    font-size: 14px;
   }
   .firstlogin-sendbtn input[type=submit].loginsend {
    width: 330px;
  }
   .firstlogin-sendbtn {
    padding-bottom: 40px;
  }
  .field-icon {
    margin-left: 305px;
  }
    .second-loginwrap {
    display: none;
  }
    .second-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
    padding: 0 10px;
    }
    .bootstrap-frm input[type="password"].maxinputsignup, input[type="text"].maxinputsignup{
    width: 440px;
    }
    select.department {
    width: 100px;
    }
    .bootstrap-frm input[type="text"].midinputsignup{
    width:110px;
    }
}
@media screen and (max-width: 759px) and (min-width: 360px){
  .login-wrap-fullscreen{
  background: url(../../view/images/login_bg_c3.jpg) no-repeat;
  max-width: 800px;
  margin-top: 0px;
  -moz-background-size: cover;
  background-size: cover;
  min-height: auto;
  height: 310px;
  }
  .bg-textwrap {
    max-width: 450px;
    margin-left: 10px;
    margin-top: 140px;
    padding: 0px 10px;
  }
  .bg-text {
    font-size: 13px;
  }
  .first-loginwrap{
    display: none;
  }
  .first-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
        padding: 0 10px;
  }
  .firstlogin-logo {
    text-align: center;
  }
  .firstlogin-logo img{
    width: 250px;
   }
   .firstlogin-title{
    width: 80px;
    font-size: 14px;
        padding-bottom: 20px;
   }
   .firstlogin-email{
    font-size: 14px;
   }
   .bootstrap-frm {
    margin-bottom: 50px;
  }
     .firstlogin-sendbtn input[type=submit].loginsend {
    width: 330px;
  }
   .firstlogin-sendbtn {
    padding-bottom: 40px;
  }
    .field-icon {
    margin-left: 305px;
  }
   .second-loginwrap {
    display: none;
  }
   .second-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
    padding: 0 10px;
    }
    .bootstrap-frm input[type="text"].midinput {
    font-size: 12px;
    width: 35%;
    }
    .bootstrap-frm input[type="password"].maxinputsignup, input[type="text"].maxinputsignup{
    width: 210px;
    font-size: 12px;
    }
    .signup-addresswrap {
    width: 250px;
    }
    .bootstrap-frm input[type="text"].midinputsignup{
    width:100px;
    }
}
@media screen and (max-width: 359px) and (min-width: 250px){
  .login-wrap-fullscreen{
  background: url(../../view/images/login_bg_c4.jpg) no-repeat;
  max-width: 400px;
  margin-top: 0px;
    -moz-background-size: contain;
  background-size: contain;
  min-height: auto;
  height: 300px;
  }
  .bg-textwrap {
    max-width: 310px;
    margin-left: 10px;
    margin-top: 80px;
  }
  .bg-text {
    font-size: 12px;
    width: 280px;
  }
  .first-loginwrap{
    display: none;
  }
  .first-loginwrap-rwd{
    width: 320px;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 50px;
    display: inherit;
  }
  .bootstrap-frm {
    padding-left: 5px;
    margin-bottom: 50px;
  }
  .firstlogin-logo {
    text-align: center;
    width: 250px;
  }
  .firstlogin-logo img{
    width: 250px;
   }
   .firstlogin-onewrap {
    max-width: 300px;
  }
   .firstlogin-title{
    width: 60px;
    font-size: 12px;
   }
   .firstlogin-email{
    font-size: 12px;
   }
   .bootstrap-frm input[type="text"].midinput {
    width: 80px;
  }
  .bootstrap-frm input[type="text"].mininput {
    width: 40px;
  }
  .bootstrap-frm input[type="password"].maxinput, input[type="text"].maxinput {
    width: 228px;
  }
   .firstlogin-sendbtn {
    width: 300px;
    padding-bottom: 40px;
  }
  .firstlogin-sendbtn input[type=submit].loginsend {
    width: 280px;
  }
      .second-loginwrap {
    display: none;
  }
    .second-loginwrap-rwd{
     width: 320px;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 50px;
    display: inherit;
    }
      .bootstrap-frm input[type="text"].midinput {
    width: 80px;
    font-size: 12px;
    }
  .bootstrap-frm input[type="password"].maxmaxinput, input[type="text"].maxmaxinput {
    width: 310px;
        font-size: 12px;
  }
  .field-second-icon {
    margin-left: 265px;
  }
  .bootstrap-frm input[type="password"].maxinputsignup, input[type="text"].maxinputsignup{
    width: 210px;
    font-size: 12px;
    }
  .signup-addresswrap {
    width: 250px;
    }
  select.department {
    width: 100px;
    margin-top: 10px;
    }
  .bootstrap-frm input[type="text"].midinputsignup{
    width:100px;
        font-size: 12px;
    }
}