/*openinghours */
.mar-top5 {
	margin-top: 5px;
}
.mar-top20 {
	margin-top: 20px;
}
.mar-top30 {
	margin-top: 30px;
}
.mar-bot20 {
	margin-bottom: 20px;
}
.mar-right10 {
	margin-right: 10px;
}
.ovhindn {
	overflow: hidden;
}
.flot-right {
	float: right;
}
.flot-left {
	float: left;
}
.grey {
	position: relative;
	width: 100%;
	overflow: hidden;
	background: #f3f3f3;
	margin-top: -20px;
}
.green {
	background: #00a699;
}
.font24 {
	color: #4D5059;
	font-size: 24px;
}
.font16 {
	color: #4D5059;
	font-size: 16px;
}
.line_title {
}
.img-video {
	opacity: 0.9;
	filter: alpha(opacity=90);
	display: block;
	padding: 20px;
}
.img-video:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}
/*
	==========================
	radio buttons
	==========================
*/

.ex-radio {
	position: relative;
	margin: 12px 0;
	font-size: 16px;
}
.ex-radio label {
	padding-left: 32px;
	line-height: 140%;
	font-weight: normal;
	display: inline-block;
	position: relative;
}
.ex-radio label:hover {
	text-decoration: underline;
}
.ex-radio label:hover:before {
	border: 1px solid #4e6da1!important;
}
.ex-radio input[type=radio] {
	margin: 0;
	opacity: 0;
	cursor: pointer;
	width: 20px;
	height: 20px;
	z-index: 10;
	position: absolute;
}
.ex-radio input[type=radio] + label::before {
	content: "";
	position: absolute;
	width: 20px;
	height: 20px;
	left: 0;
	border: 1px solid #dcdcdc;
	border-radius: 50%;
	background-color: #fff;
	transition: border 0.3s ease-in-out;
}
.ex-radio input[type=radio]:hover + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio]:focus + label::before {
	box-shadow: 0 0 1px #4e6da1;
	outline: none;
}
.ex-radio input[type=radio]:checked + label::before, .ex-radio input[type=radio]:checked:hover + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio] + label::after {
	position: absolute;
	content: " ";
	width: 12px;
	height: 12px;
	left: 4px;
	top: 4px;
	border-radius: 50%;
	background-color: #ffffff;
	transform: scale(0, 0);
	transition: transform 0.3s ease-in-out;
}
.ex-radio input[type=radio]:checked + label::after {
	background-color: #4e6da1;
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	-o-transform: scale(1, 1);
	-moz-transform: scale(1, 1);
	transform: scale(1, 1);
}
.ex-radio input[type="radio"]:disabled {
	cursor: not-allowed;
}
.ex-radio input[type="radio"]:disabled + label {
	color: #4e6da1;
	cursor: not-allowed;
}
.ex-radio input[type=radio]:disabled + label::before, .ex-radio input[type=radio]:checked:disabled + label::before {
	border: 1px solid #4e6da1;
}
.ex-radio input[type=radio]:checked:disabled + label::after {
	background-color: #4e6da1;
}
.display_line {
	display: inline-block;
}
.display_line_left {
	margin-right: 10px;
	float: left;
}
.display_line_left label {
	font-size: 16px;
	margin: 8px 0;
	font-weight: normal;
}
.display_line_right {
	float: left;
}
.scalender_form {
	font-size: 14px;
	width: 140px;
}
.opening_top_left {
	margin: 25px 50px 25px 10px;
	display: inline-block;
}
.opening_top_right {
	float: right;
	display: inline-block;
}
.openinghours .nav-tabs>li.active>a:hover, .openinghours .nav-tabs>li.active>a:focus {
	background: none !important;
	color: #666;
	padding: 10px 15px;
}
.openinghours .nav-tabs > li.active > a {
	background: none;
	color: #4e5059;
	font-weight: bold;
}
.openinghours .nav-tabs>li>a {
	font-size: 16px;
	border: 0 !important;
	border-radius: 0;
}
.openinghours .nav>li>a:focus, .nav>li>a:hover {
	color: #666;
}
.openinghours .nav-tabs {
	margin: 20px 0 0 50px;
	border-bottom: 0;
}
/*booking desktop*/
.selectdiv {
	position: relative;
	float: right;
	width: 100%;
	margin: 0px 0px;
	border: 0px solid #0ebeff;
}
.selectdiv:after {
	content: '\f078';
	font: normal normal normal 13px/0.2 FontAwesome;
	color: #4e5059;
	right: 15px;
	top: 0px;
	height: 34px;
	padding: 16px 0px 0px 8px;
	border-left: 0px solid #0ebeff;
	position: absolute;
	pointer-events: none;
}
select::-ms-expand {
display: none;
}
.selectdiv select {
	border-radius: 2px;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	height: 35px;
	margin: 1px 0px;
	padding: 0px 40px 0px 15px;
	font-size: 14px;
	line-height: 1.75;
	color: #333;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #d9d9d9;
	-ms-word-break: normal;
	word-break: normal;
	color: #555555;
}
.openinghours .introduction {
	margin-top: 50px;
	border: #dfdfdf solid 5px;
	border-radius: 5px;
	padding: 30px;
}
.openinghours .list {
	border: 1px solid #ccc;
}
p.title {
	float: left;
	margin: 10px 0 10px 5px;
	font-size: 16px;
	font-weight: bold;
}
p.relate {
	line-height: 22px;
	font-size: 14px;
	margin-top: 15px;
}
.rwd-table {
	min-width: 300px;
}
.rwd-table td.img-center {
	background: #9a9a9a;
	text-align: center;
}
.rwd-table th {
	display: none;
}
.rwd-table td {
	display: block;
}
.rwd-table td:first-child {
}
.rwd-table td:last-child {
	padding-bottom: .5em;
}
.rwd-table td:before {
	content: attr(data-th);
	font-weight: bold;
	width: 6.5em;
	display: block;
	font-size: 1.4em;
}
.rwd-table th, .rwd-table td {
	text-align: left;
}
.rwd-table {
	width: 100%;
	color: #555555;
	border-radius: .4em;
	overflow: hidden;
}
.rwd-table tr th {
	padding: 8px;
	background: #f3f3f3;
	font-size: 16px;
	text-align: center;
}
.rwd-table th, .rwd-table td {
	margin: 0;
}
.rwd-table th, .rwd-table td:before {
	color: #555;
}
.openinghours input[type="radio"]:checked::after, .openinghours .radio input[type="radio"]:checked::after, .openinghours .radio-inline input[type="radio"]:checked::after {
	top: 1px;
	left: 1px;
	width: 11px;
	height: 11px;
	background: #4e6da1;
}
.tabletitle {
	margin-bottom: 20px;
	font-size: 16px;
	color: #4d6da1;
	font-weight: bold;
}
.openinghours .form-check {
	margin: 15px 0;
	font-size: 16px;
}
.openinghours .form-check-label {
	font-weight: normal;
	left: 20px;
}
.openinghours .selectwrap {
	margin: 10px 0;
	display: inline-block;
}
.openinghours .selectwrap2 {
	float: left;
	margin: 10px 0;
}
.btn-fix {
	vertical-align: bottom;
	text-align: right;
	padding-left: 3em;
	padding-right: 10px;
	padding-bottom: 10px;
}
.btn-blue {
	background-color: #4f6ea2;
	color: #fff;
}
/*all place calender */
.calendarallplacebottom {
	margin: 10px 10px 15px;
	float: left;
}
.calendarallplacebottom a {
	color: #fff;
	display: block;
	border-radius: 5px;
	padding: 8px 15px;
}
.allplace_left {
	float: left;
	display: inline-block;
	width: 73%;
}
.allplace_right {
	float: right;
	width: 26%;
}
.allplace_left .title {
	color: #4f6ea2;
	font-size: 18px;
}
.openinghours .form-check_allplace input[type="radio"]:checked::after, .openinghours .form-check_allplace .radio input[type="radio"]:checked::after, .openinghours .form-check_allplace .radio-inline input[type="radio"]:checked::after {
	top: 1px;
	left: 1px;
	width: 11px;
	height: 11px;
	background: #01a598;
}
.openinghours .form-check_allplace {
	display: inline-block;
	margin: 15px 10px;
	font-size: 15px;
}
.Timetable {
	position: relative;
}
.Timetable tr {
	background: #ffffff;
}
.Timetable tr:nth-child(even) {
	background: #ffffff;
}
.Timetable .Timetable__table {
	margin: 20px 0;
	min-width: 650px;
}
.Timetable .Timetable__table td, .Timetable .Timetable__table th {
	padding: 0;
}
.Timetable .Timetable__table th {
	font-weight: 300;
}
.Timetable .Timetable__table tbody th {
	border-right: 1px solid #cccccc;
	background: #f3f3f3;
	color: #4e5059;
}
.Timetable .Timetable__table tbody td {
	border: 1px solid #ccc;
}
.Timetable .Timetable__table .Timetable__time, .Timetable .Timetable__table .Timetable__room {
	background: #4f6ea2;
	color: #ffffff;
	width: 100%;
}
.Timetable .Timetable__table .Timetable__room {
	text-align: center;
}
.Timetable .Timetable__table .Timetable__time th {
	width: 300px;
}
.Timetable thead tr {
	background: none;
}
.Timetable thead tr td, .Timetable thead tr th {
	color: #fff;
	font-size: 1.5em;
}
.Allocation {
	color: #4e5059;
	display: block;
	background: #e0e0e0;
	padding: 5px;
	text-align: center;
}
.Allocation.please {
	background: #e77f3f;
}
.Allocation.pdp {
	background: #01a598;
	color: #fff;
}
.Allocation span {
	display: block;
	padding: 3px 0;
}
.Allocation span.Allocation__title {
	font-size: 1.3em;
	font-weight: 600;
}

/*1月25日晚上新增的*/

/*1月25日晚上新增的end*/
@media screen and (max-width: 991px) {
/*booking ipad*/
.openinghours .nav-tabs {
	margin: 0;
}
.opening_top_left {
	width: 100%;
}
.opening_top_right {
	width: 100%;
}
.btn-fix {
	padding: 0;
}
.openinghours .signup-sendbtn input[type=submit].savesend.fix1 {
	width: 100%;
}
.Timetable {
	overflow-x: scroll;
	position: relative;
	width: 768px;
}
}

@media (max-width: 768px) {
/*booking mobile*/
.rwd-table th, .rwd-table td {
	background: #f3f3f3;
	margin: 10px 0;
	padding: 10px 20px;
}
.rwd-table td:last-child {
	padding: 0;
}
.Timetable {
	overflow-x: scroll;
	position: relative;
	width: 550px;
}
}

@media (min-width: 768px) {
.rwd-table td:before {
	display: none;
}
.rwd-table th, .rwd-table td {
	padding: 0em;
}
.rwd-table th, .rwd-table td {
	padding: 0 40px;
	text-align: -webkit-auto;
	display: table-cell;
}
.rwd-table th:first-child, .rwd-table td:first-child {
	padding: 0;
}
.rwd-table th:last-child, .rwd-table td:last-child {
	padding-right: 0;
}
}

@media (max-width: 480px) {
.list .btn-blue {
	width: 50%;
}
.rwd-table td:first-child {
	padding: 10px 0;
}
.rwd-table td:first-child:before {
	width: 100%;
	background: #f3f3f3;
	margin-bottom: 10px;
	padding: 10px 20px;
	text-align: left;
}
.rwd-table td:last-child {
	background: none;
	text-align: center;
	margin: 20px 0;
}
}
.opening_top_left {
	margin-bottom: 0;
}

.Timetable {
	overflow-x: scroll;
	position: relative;
	width: 300px;
}
}
