.first-loginwrap-rwd{
    display: none;
  }
.second-loginwrap-rwd{
    display: none;
  }
.login-wrap-fullscreen{
    margin:0;
    padding:0;
    background: #f3f3f3 url(../../view/images/login_bg_c0.jpg) center center fixed no-repeat;
    -moz-background-size: cover;
    background-size: cover;
  min-height: 1069px;
}
.bg-textwrap{
  max-width: 450px;
  float: left;
  position: relative;
  margin-left: 20px;
  margin-top: 610px;
}
.bg-text-title{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 17px;
  color: #FFF;
  font-weight: bolder;
}
.bg-text{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 14px;
  color: #FFF;
  padding-top: 25px;
}
.first-loginwrap{
  max-width: 50%;
  float: right;
  position: relative;
  margin-right: 16%;
  margin-top: 10%;
}
.firstlogin-logo{
  margin: 0 auto;
  margin-bottom: 30px;
}
.firstlogin-logo img{
  width: 370px;
}
.firstlogin-onewrap{
  max-width: 400px;
  padding: 6px 0px;
  margin: 0 auto;
}
.firstlogin-title{
  width: 100px;
  float: left;
  display: inline-block;
  text-align: left;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
}
.firstlogin-email{
  display: inline-block;
  text-align: left;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 16px;
  color: #4D5059;
}
.field-icon {
  margin-left: 325px;
  top: -32px;
  position: relative;
  z-index: 2;
}
.field-second-icon {
    margin-left: 290px;
    top: -32px;
    position: relative;
    z-index: 2;
}
.field-editinfo-icon {
    margin-left: -30px;
    position: relative;
    z-index: 2;
    top: -5px;
}
.container{
/*  padding-top:50px;
  margin: auto;*/
}
.firstlogin-legalwrap{
  max-width: 500px;
  float: left;
}
.second-loginwrap{
  max-width: 50%;
  float: right;
  position: relative;
  margin-right: 16%;
  margin-top: 15%;
}
.secondlogin-title{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 18px;
  color: #67696D;
  font-weight: bolder;
}
.secondlogin-onewrap{
  max-width: 300px;
  margin-top: 10px;
}
.secondlogin-forgetwrap{
  top: -80px;
}
.forgetpw{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #B31F21;
  float: left;
  position: relative;
}
.forgetpw a{
  color: #B31F21;
}
.forgetpw a:hover{
  text-decoration: underline;
}
.keeplogin{
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #B31F21;
  float: left;
  margin-left: 10px;
}
.keeplogin a{
  color: #B31F21;
}
.keeplogin a:hover{
  text-decoration: underline;
}
.secondlogin-legalwrap{
  max-width: 500px;
  float: left;
  position: relative;
}

/* hover style just for information */
label:hover:before {
  border: 2px solid #4778d9!important;
}
.firstlogin-sendbtn{
}

.firstlogin-sendbtn input[type=submit].loginsend {
  width: 350px;
  border-radius: 5px;
  background-color: #b61d1a;
  border: none;
  color: #FFF;
  padding: 8px 0px;
  font-family: brandon-grotesque, 'microsoft jhenghei', Arial, sans-serif;
  font-size: 15px;
  margin-top: 20px;
}
.firstlogin-sendbtn input[type=submit].loginsend:hover{
  background-color: #9d0704;
}
@media screen and (max-width: 1760px) and (min-width: 1600px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
}
@media screen and (max-width: 1599px) and (min-width: 1360px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .first-loginwrap {
    margin-right: 12%;
    margin-top: 4%;
  }
}
@media screen and (max-width: 1359px) and (min-width: 1280px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .first-loginwrap {
    margin-right: 12%;
    margin-top: 4%;
  }
}

@media screen and (max-width: 1280px) and (min-width: 1024px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .first-loginwrap {
    margin-right: 8%;
    margin-top: 4%;
  }
  .first-loginwrap-rwd{
    display: none;
  }
  .second-loginwrap-rwd{
    display: none;
    }
}
@media screen and (max-width: 1199px){
  .login-wrap-fullscreen{
  min-height:-webkit-fill-available;
  }
  .bg-textwrap {
    margin-top: 570px;
  }
  .first-loginwrap {
    margin-right: 8%;
    margin-top: 2%;
  }
  .firstlogin-logo img {
    width: 200px;
}
  .firstlogin-logo {
    margin: 0 auto;
    margin-bottom: 10px;
    text-align: center;
    }
  .first-loginwrap-rwd{
    display: none;
  }
  .firstlogin-sendbtn input[type=submit].loginsend {
    margin-top: 10px;
  }
  .firstlogin-sendbtn {
    padding-bottom: 40px;
  }
  .second-loginwrap-rwd{
    display: none;
    }
  .second-loginwrap {
    margin-right: 10%;
  }

}
@media screen and (max-width: 991px){
  .login-wrap-fullscreen{
  background: url(../../view/images/login_bg_c2.jpg) no-repeat;
  max-width: 1280px;
  margin-top: 0px;
  -moz-background-size: cover;
  background-size: cover;
  min-height: auto;
  height: 500px;
  }
  .bg-textwrap {
    margin-top: 38%;
  }
  .first-loginwrap{
    display: none;
  }
  .first-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
    padding: 0 10px;
  }
  .firstlogin-logo {
    text-align: center;
  }
  .firstlogin-logo img{
    width: 250px;
   }
   .firstlogin-title{
    width: 80px;
    font-size: 14px;
   }
   .firstlogin-email{
    font-size: 14px;
   }
   .firstlogin-sendbtn input[type=submit].loginsend {
    width: 330px;
  }
   .firstlogin-sendbtn {
    padding-bottom: 40px;
  }
  .field-icon {
    margin-left: 305px;
  }
    .second-loginwrap {
    display: none;
  }
    .second-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
    padding: 0 10px;
    }

}
@media screen and (max-width: 768px){
  .login-wrap-fullscreen{
  background: url(../../view/images/login_bg_c3.jpg) no-repeat;
  max-width: 800px;
  margin-top: 0px;
  -moz-background-size: cover;
  background-size: cover;
  min-height: auto;
  height: 310px;
  }
  .bg-textwrap {
    max-width: 450px;
    margin-left: 10px;
    margin-top: 140px;
    padding: 0px 10px;
  }
  .bg-text {
    font-size: 13px;
  }
  .first-loginwrap{
    display: none;
  }
  .first-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
        padding: 0 10px;
  }
  .firstlogin-logo {
    text-align: center;
  }
  .firstlogin-logo img{
    width: 250px;
   }
   .firstlogin-title{
    width: 80px;
    font-size: 14px;
        padding-bottom: 20px;
   }
   .firstlogin-email{
    font-size: 14px;
   }
   .firstlogin-sendbtn input[type=submit].loginsend {
    width: 330px;
  }
   .firstlogin-sendbtn {
    padding-bottom: 40px;
  }
    .field-icon {
    margin-left: 305px;
  }
   .second-loginwrap {
    display: none;
  }
   .second-loginwrap-rwd{
    width: 360px;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 80px;
    display: inherit;
    padding: 0 10px;
    }
}
@media screen and (max-width: 480px){
  .login-wrap-fullscreen{
  background: url(../../view/images/login_bg_c4.jpg) no-repeat;
  max-width: 400px;
  margin-top: 0px;
    -moz-background-size: contain;
  background-size: contain;
  min-height: auto;
  height: 300px;
  }
  .bg-textwrap {
    max-width: 310px;
    margin-left: 10px;
    margin-top: 80px;
  }
  .bg-text {
    font-size: 12px;
    width: 280px;
  }
  .first-loginwrap{
    display: none;
  }
  .first-loginwrap-rwd{
    width: 320px;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 50px;
    display: inherit;
  }
  .bootstrap-frm {
    padding-left: 5px;
    margin-bottom: 50px;
  }
  .firstlogin-logo {
    text-align: center;
    width: 250px;
  }
  .firstlogin-logo img{
    width: 250px;
   }
   .firstlogin-onewrap {
    max-width: 300px;
  }
   .firstlogin-title{
    width: 60px;
    font-size: 12px;
   }
   .firstlogin-email{
    font-size: 12px;
   }
   
   .firstlogin-sendbtn {
    width: 300px;
    padding-bottom: 40px;
  }
  .firstlogin-sendbtn input[type=submit].loginsend {
    width: 280px;
  }
  .second-loginwrap {
    display: none;
  }
  .second-loginwrap-rwd{
    width: 320px;
    margin: 0 auto;
    margin-top: 0px;
    padding-bottom: 50px;
    display: inherit;
  }
  .signup-addresswrap {
    width: 72%;
    }

  .signup-addresswrap input[type="text"].maxinputsignup{
    width: 100%;
  }
  .field-second-icon {
    margin-left: 265px;
  }
}